<div class="how-it-works-section container "> <!--  my-5 -->
  <h2 class="text-center mb-5">How it works</h2>
  <div class="row align-items-center">
    
    <div class="col-lg-6 order-2 order-lg-1">
      <div class="how-step d-flex mb-4">
        <div class="step-number mr-3">1</div>
        <div>
          <div class="step-title">Enter your contact & card details</div>
          <div class="step-desc">Your information is safe with us and only used to complete this subscription.</div>
        </div>
      </div>
      <div class="how-step d-flex mb-4">
        <div class="step-number mr-3">2</div>
        <div>
          <div class="step-title">We’ll be in touch soon</div>
          <div class="step-desc">You’ll receive a welcome email within 48 hours if you’re among the first 60 this month.</div>
        </div>
      </div>
      <div class="how-step d-flex">
        <div class="step-number mr-3">3</div>
        <div>
          <div class="step-title">Welcome to Travelstart+</div>
          <div class="step-desc">Download the Travelstart app to get started with all the amazing benefits.</div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-6 text-center order-1 order-lg-2 mb-4 mb-lg-0">
      <img
        ImageSrc
        src="assets/mastercard/images/side-view-woman-working-laptop.png"
        class="how-works-img img-fluid rounded"
        alt="How it works"
      />
    </div>
  </div>
</div>
