<div class="container mt-4 pb-4 px-0">
  <div class="card p-3" (click)="openProfile()">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <img
          ImageSrc
          src="../../assets/icons/ticket.svg"
          alt="Bookings icon"
          width="40"
          class="img-fluid"
          aria-label="Bookings"
        />
        <div class="ml-3">
          <div class="header" translate>View and manage your bookings</div>
          <div class="text-secondary" translate>Everything you need to manage your bookings and profile.</div>
        </div>
      </div>
      <img
        ImageSrc
        src="../../assets/icons/chevron.svg"
        alt="Chevron icon"
        width="15"
        class="ml-3 img-fluid"
        aria-label="Navigate to bookings"
      />
    </div>
  </div>
</div>
