<div class="modal-dialog payment_error_dialog baggage_failed" role="document">
  <div class="modal-content dialog_content">
    <div class="modal-body pad-xs-modal">
      <div class="text-center">
        <img
          ImageSrc
          class="wid40per-xs"
          src="./../../../../assets/icons/Icon/Negative-scenarios/no_flights_filters_icon.svg"
          width="160px"
          height="130px"
          alt="no flights"
          loading="lazy"
        />
        <div class="mt-3">
          <h4 translate>No flights matching your filters</h4>
        </div>
        <button data-dismiss="modal" aria-label="ok" translate type="button" class="btn ok-btn primary_btn mt-3">
          <span translate>ok</span>
        </button>
      </div>
    </div>
  </div>
</div>
