<div class="modal-dialog payment_error_dialog" role="document">
  <div class="modal-content dialog_content">
    <div class="modal-body dialogWidth">
      <div class="text-center">
        <img
          ImageSrc
          class="wid40per-xs"
          src="./../../../../assets/icons/Icon/Negative-scenarios/something_was_not_right.svg"
          alt="Flight not available"
          loading="lazy"
        />
        <div class="payment_error_modal_text" translate>Some thing went wrong.</div>

        <div class="text-center">
          <span
            ><button type="button" aria-label="Try again" class="btn ok-btn mr-3 primary_btn" data-dismiss="modal" (click)="closeModal()">
              <span translate>Try again</span>
            </button></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
