<div class="container changedate_booking_section">
  <div class="row">
    <div class="col-sm-12 changedate_booking">
      <div class="changedate_body pt-4">
        <div class="header_desc">
          <h4 translate>Need to change your flight? No problem!</h4>
          <p>
            <span translate>You can change your flight date up to 2 hours before your original flight departure.</span>
            <span translate>Date changes are subject to seat availability</span>,
            <span translate
              >so if the same type of seat isn’t available you’ll be charged any difference in fare as well as a date
              change fee.</span
            >
          </p>
        </div>
        <div class="choose_journey" *ngIf="viewItinaryResultData">
          <h5 *ngIf="country !== 'ABSA'" translate class="jrny_head">Select the flight you want to change</h5>
          <div *ngIf="viewItinaryResultData.airReservationList" class="route_traveller">
            <form action="" [formGroup]="changDateForm">
              <div formArrayName="routeList">
                <div
                  *ngFor="let routes of routeList().controls; let first = first; let last = last; let i = index"
                  [formGroupName]="i"
                >
                  <h5 *ngIf="country !== 'ABSA'" class="route_info">
                    {{ routes.value.dept_city }}
                    <span>
                      <img
                        ImageSrc
                        src="./../../../assets/icons/flight_icn_devide.svg"
                        alt="dir"
                        width="40px"
                        class="m-1"
                      />
                    </span>
                    {{ routes.value.arr_city }}
                  </h5>
                  <div class="travellers mt-3">
                    <div aria-describedby="user journey details" class="table dataTableCss internalListTable">
                      <div *ngIf="first" class="table_Head d-none d-md-block">
                        <div class="d-flex table_head_row">
                          <div translate id="passender" class="col-2">PASSENGER</div>
                          <div translate id="date" class="col-4">TRAVEL DATE</div>
                          <div translate id="status" class="col-1">STATUS</div>
                          <div translate id="pnr" class="col-1">PNR</div>
                          <div translate id="bookedDate" class="col-2">BOOKED ON</div>
                          <div translate id="bookedDate" class="col-2 d-none">CHANGE DATE</div>
                        </div>
                      </div>
                      <div class="table_body">
                        <ng-container
                          formArrayName="passengers"
                          *ngFor="let passenger of routes.controls.passengers.controls; let j = index"
                        >
                          <div
                            class="table_body_row row"
                            [formGroupName]="j"
                            *ngIf="
                              (view == 'manage' &&
                                !findCancelQuery(
                                  routes.controls.passengers.controls[j].get('firstName').value,
                                  routes.controls.passengers.controls[j].get('surName').value,
                                  routes.value.dept_city,
                                  routes.value.arr_city,
                                  i,
                                  j
                                )) ||
                              (view !== 'manage' &&
                                getQuery(
                                  routes.controls.passengers.controls[j].get('firstName').value,
                                  routes.controls.passengers.controls[j].get('surName').value,
                                  routes.value.dept_city,
                                  routes.value.arr_city,
                                  i,
                                  j
                                ) &&
                                !findCancelQuery(
                                  routes.controls.passengers.controls[j].get('firstName').value,
                                  routes.controls.passengers.controls[j].get('surName').value,
                                  routes.value.dept_city,
                                  routes.value.arr_city,
                                  i,
                                  j
                                ))
                            "
                          >
                            <div class="col-8 col-md-2">
                              <span
                                class="d-none"
                                *ngIf="
                                  !getQuery(
                                    routes.controls.passengers.controls[j].get('firstName').value,
                                    routes.controls.passengers.controls[j].get('surName').value,
                                    routes.value.dept_city,
                                    routes.value.arr_city,
                                    i,
                                    j
                                  )
                                "
                              >
                                <mat-checkbox
                                  class="form-switch radio_1set"
                                  name=""
                                  #check
                                  formControlName="select"
                                  [checked]="false"
                                  (change)="onSelectTraveller($event, i, j)"
                                ></mat-checkbox>
                              </span>
                              <span class="traveller_data">
                                {{ routes.controls.passengers.controls[j].get('firstName').value | titlecase }}
                                {{ routes.controls.passengers.controls[j].get('surName').value | titlecase }}
                              </span>
                            </div>
                            <div class="col-4 d-block p-0 d-md-none">
                              <a
                                class="q_recordLink"
                                (click)="
                                  viewmobileQuery(
                                    getQuery(
                                      routes.controls.passengers.controls[j].get('firstName').value,
                                      routes.controls.passengers.controls[j].get('surName').value,
                                      routes.value.dept_city,
                                      routes.value.arr_city,
                                      i,
                                      j
                                    )
                                  )
                                "
                                *ngIf="
                                  queryIds &&
                                  queryIds.length != 0 &&
                                  getQuery(
                                    routes.controls.passengers.controls[j].get('firstName').value,
                                    routes.controls.passengers.controls[j].get('surName').value,
                                    routes.value.dept_city,
                                    routes.value.arr_city,
                                    i,
                                    j
                                  )
                                "
                                >View Queries</a
                              >
                            </div>
                            <div class="col-12 col-md-4">
                              <div class="date_flights">
                                <span *ngIf="country !== 'ABSA'" class="date_Wrap">
                                  <div class="d_mnth">
                                    {{ routes.value.departureDateTime | date: 'MMM' }}
                                  </div>
                                  <div class="d_date">
                                    {{ routes.value.departureDateTime | date: 'dd' }}
                                  </div>
                                  <div class="d_week">
                                    {{ routes.value.departureDateTime | date: 'EEE' }}
                                  </div>
                                </span>
                                <span *ngIf="country === 'ABSA'" class="theme__date-container">
                                  <div class="theme__date-wrap">
                                    <div class="d_date">{{ routes.value.departureDateTime | date: 'dd' }}</div>
                                  </div>
                                  <div class="theme__date-wrap">
                                    <div class="d_month">{{ routes.value.departureDateTime | date: 'MMM' }}</div>
                                    <div class="d_week">{{ routes.value.departureDateTime | date: 'EEE' }}</div>
                                  </div>
                                </span>
                                <span class="flights_details">
                                  <img
                                    ImageSrc
                                    *ngIf="country !== 'ABSA'"
                                    class="mr-1"
                                    width="12px"
                                    src="./../../../assets/icons/plane.svg"
                                    alt="requirements"
                                  />
                                  <span class="route_view theme__raise-priority theme__raise-priority-higher">
                                    {{ routes.value.dept_city }}
                                  </span>
                                  <span
                                    ><img
                                      ImageSrc
                                      src="./../../../assets/icons/flight_icn_devide.svg"
                                      alt="dir"
                                      width="40px"
                                      class="img_flights theme__flights-icon"
                                  /></span>
                                  <span class="route_view theme__raise-priority theme__raise-priority-higher">
                                    {{ routes.value.arr_city }}
                                  </span>
                                </span>
                              </div>
                            </div>
                            <div class="col-4 col-md-1">
                              <div class="resposive_lbl d-md-none theme__booking-label">{{ country === 'ABSA' ? 'Status' : 'STATUS' }}</div>
                              <span class="{{ routes.controls.passengers.controls[j].get('bookingStatus').value }} theme__booking-text">
                                {{ routes.controls.passengers.controls[j].get('bookingStatus').value }}
                              </span>
                            </div>
                            <div class="col-3 col-md-1">
                              <div class="resposive_lbl d-md-none theme__booking-label">PNR</div>
                              <span class="theme__booking-text" *ngIf="!routes.controls.passengers.controls[j].get('pnr').value">N/A</span>
                              <span class="theme__booking-text" *ngIf="routes.controls.passengers.controls[j].get('pnr').value">{{
                                routes.controls.passengers.controls[j].get('pnr').value
                              }}</span>
                            </div>
                            <div class="col-5 col-md-2">
                              <div class="resposive_lbl d-md-none theme__booking-label">{{ country === 'ABSA' ? 'Booked On' : 'BOOKED ON' }}</div>
                              <span class="theme__booking-text">
                                {{
                                  country === 'ABSA'
                                    ? (routes.controls.passengers.controls[j].get('createdDateTime').value | date: 'EEE, MMM d')
                                    : (routes.controls.passengers.controls[j].get('createdDateTime').value | date: 'd MMM  yyyy (EEE)')
                                }}
                              </span>
                            </div>
                            <div class="col-md-2 col-12 d-none">
                              <div
                                class="pick_date mb-3 mb-md-0"
                                *ngIf="
                                  !getQuery(
                                    routes.controls.passengers.controls[j].get('firstName').value,
                                    routes.controls.passengers.controls[j].get('surName').value,
                                    routes.value.dept_city,
                                    routes.value.arr_city,
                                    i,
                                    j
                                  )
                                "
                              >
                                <div class="resposive_lbl d-md-none mb-3 mb-md-0">NEW ARRIVAL DATE</div>
                                <input
                                  class="form-control selectdate"
                                  placeholder="{{ 'New Travel date' | translate }}"
                                  name="dp"
                                  ngbDatepicker
                                  formControlName="changedate"
                                  value=""
                                  [minDate]="expminDate"
                                  [maxDate]="expmaxDate"
                                  #d="ngbDatepicker"
                                  (click)="d.toggle()"
                                  #date
                                  id="{{ 'newtravelDate' + i + j }}"
                                  (focus)="openCalender(d, i)"
                                  (dateSelect)="dateSelection($event, i, j)"
                                  autocomplete="off"
                                />
                                <img
                                  ImageSrc
                                  *ngIf="country === 'ABSA'"
                                  class="theme__calendar-icon"
                                  src="./../../../assets/icons/v1-icons/calendar-new-icn.svg"
                                  alt="date picker"
                                />
                              </div>
                              <div class="d-none d-md-block">
                                <a
                                  class="q_recordLink"
                                  (click)="
                                    viewQuery(
                                      getQuery(
                                        routes.controls.passengers.controls[j].get('firstName').value,
                                        routes.controls.passengers.controls[j].get('surName').value,
                                        routes.value.dept_city,
                                        routes.value.arr_city,
                                        i,
                                        j
                                      )
                                    )
                                  "
                                  *ngIf="
                                    queryIds &&
                                    queryIds.length != 0 &&
                                    getQuery(
                                      routes.controls.passengers.controls[j].get('firstName').value,
                                      routes.controls.passengers.controls[j].get('surName').value,
                                      routes.value.dept_city,
                                      routes.value.arr_city,
                                      i,
                                      j
                                    )
                                  "
                                  >View Queries</a
                                >
                              </div>
                            </div>
                          </div>
                          <div
                            *ngIf="
                              routes.controls.passengers.controls[j].get('select').value == true &&
                              routes.controls.passengers.controls[j].get('changedate').value == ''
                            "
                          >
                            <span>
                              <p translate class="validation_msg">Please select date</p>
                            </span>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <p translate class="validation_msg d-none" *ngIf="Validation">Please select passenger</p>
        </div>
      </div>
      <div class="">
        <span
          class="float-right w-md-25 mb-2 theme__select-date-container"
          [ngClass]="responsiveservice.screenWidth == 'sm' ? 'pick_date' : 'changepick_date'"
        >
          <input
            class="form-control selectdate"
            placeholder="{{ country === 'ABSA' ? 'Select new travel date' : ('New Travel date' | translate) }}"
            name="dp"
            ngbDatepicker
            value=""
            [formControl]="changeDatevalue"
            [minDate]="expminDate"
            [maxDate]="expmaxDate"
            #d="ngbDatepicker"
            (click)="d.toggle()"
            #date
            id="{{ 'newtravelDate' }}"
            autocomplete="off"
          />
          <div *ngIf="changeDateval == true && !changeDatevalue.value">
            <span>
              <p translate class="validation_msg">Please select date</p>
            </span>
          </div>
          <img
            ImageSrc
            *ngIf="country === 'ABSA'"
            class="theme__calendar-icon"
            src="./../../../assets/icons/v1-icons/calendar-new-icn.svg"
            alt="date picker"
          />
        </span>
      </div>
    </div>
  </div>

  <div class="row mt-3 theme__footer-button-container" *ngIf="viewItinaryResultData && !showBtn">
    <div class="col-sm-12 text-right">
      <button class="sub_btn primary_btn" (click)="changeFlightDate()"><span translate>{{ country === 'ABSA' ? 'Change my date' : 'Change My Date' }}</span></button>
    </div>
  </div>
</div>
<!-- <div *ngIf="queryId && viewItinaryResultData">
  <app-query-record [queryIdVal]="queryId"></app-query-record>
</div> -->
<div
  class="modal fade"
  id="changeticketResponse_Modal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog createticket_dialog" role="document">
    <div class="modal-content dialog_content">
      <div class="modal-body mdl_body">
        <div class="float-right close_dialog">
          <img
            ImageSrc
            src="../../../assets/icons/close_cross_icn.svg"
            alt="cross"
            width="12px"
            aria-label="Close"
            data-dismiss="modal"
          />
        </div>
        <div translate class="mdl_heading">
          We’ve received your date change request. One of our travel experts will be in touch shortly.
        </div>
        <div class="text-center">
          <button type="button" class="sub_btn primary_btn" aria-label="Close" data-dismiss="modal">
            <span translate>ok</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  ​
</div>
<div
  class="modal fade"
  id="CqueryRecord_Modal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog viewQuery_dialog" role="document">
    <div class="modal-content dialog_content">
      <div class="modal-body mdl_body">
        <!-- <div translate class="mdl_heading">
          We’ve received your cancellation request.One of our travel experts will be in touch shortly.
        </div>
        <div class="text-center">
          <button type="button" class="sub_btn primary_btn" aria-label="Close" data-dismiss="modal">
            <span translate>ok</span>
          </button>
        </div> -->
        <div class="mdl_heading">
          <img
            ImageSrc
            src="../../../assets/icons/close_cross_icn.svg"
            alt="close"
            class="float-right close_img"
            width="13px"
            data-dismiss="modal"
            aria-label="Close"
          />
        </div>

        <div *ngIf="queryId">
          <app-query-record [queryIdVal]="queryId"></app-query-record>
        </div>
      </div>
    </div>
  </div>
  ​
</div>
