.discount-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__body {
    text-align: center;
    color: var(--text_primary_color);
    span {
      white-space: nowrap; /* Do not wrap names, percent or currency amounts */
    }
    &__CC_Txt{
    font-size: 18px;
    line-height: 1.5rem;
    font-family: var(--sb_body_font_family);
    }
    &__DC_Txt{
      font-size: 18px;
      font-family: var(--heading_font_family);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    width: 100%;
  }
}
