<div class="discount-alert" *ngIf="data">
  <div class="discount-alert__header">
    <img
      class="discount-alert__close-icn"
      ImageSrc
      src="../../assets/icons/srp_Icons/close-icn-new-all.svg"
      width="14"
      height="14"
      alt="close"
      loading="lazy"
      (click)="cancel()"
    />
  </div>
    <div class="discount-alert__body">
      <div class="discount-alert__body__CC_Txt">
        Paying with a credit or evolve card will qualify you for  <span>{{ bestDiscountPersentage() | number: '0.0-2' }}%</span> discount and FREE basic automatic Travel insurance.
      </div>
      <br>
      <div class="discount-alert__body__DC_Txt">
        Using your debit card will reduce your discount to  <span>{{ data.currencyCode | currencyCode }}{{ discountedAmount | currency: '' + ' ':'symbol':'1.2-2' }}</span>
      </div>
    
    </div>

  <div class="discount-alert__actions">
    <button
      (click)="confirm()"
      class="discount-alert__btn discount-alert__btn--confirm btn primary_btn">
        Continue
    </button>

    <button
      (click)="cancel()"
      class="discount-alert__btn discount-alert__btn--cancel btn outline_btn">
        Switch to {{ data.bestDiscountDisplayName }}
    </button>
  </div>
</div>
