<div class="flight_card flight_card--whitelabel-alpha" *ngIf="itinerary">
  <!-- <pre>{{ itinerary | json }}</pre> -->
  <h4 class="flight_card__header">{{ getAirlineNamesForHeader(itinerary.odoList) }}</h4>

  <div class="flight_card__flights">
    <ng-container *ngFor="let odoList of itinerary.odoList; let idx = index; let first = first; let last = last;">
      <div class="flight_card__flight">
        <img
          class="flight_card__airline_logo carrier_logo airLineXs"
          ImageSrc
          src="assets/img/carriers/retina48px/carrier-{{ odoList.segments[0].airlineCode }}.png"
          alt="{{ odoList.segments[0].airlineCode }}"
          width="28"
          height="28"
          loading="lazy"
        />

        <div class="flight_card__flight_overview">
          <div class="flight_card__flight_overview_item">
            <span class="flight_card__flight_time">
              {{ odoList.segments[0].departureDateTime | date: 'HH:mm' }} -
              {{ odoList.segments[odoList.segments.length - 1].arrivalDateTime | date: 'HH:mm' }}
            </span>
            <span class="flight_card__flight_stops" translate>{{ getStopsWithoutLocations(odoList) }}</span>
          </div>

          <div class="flight_card__flight_overview_item">
            <span class="flight_card__flight_airports">
              {{ odoList.segments[0].origCode }} - {{ odoList.segments[odoList.segments.length - 1].destCode }}
            </span>
            <span class="flight_card__flight_duration">{{ getTimeInHours(odoList.duration) }}</span>
          </div>
        </div>
      </div>

      <div class="flight_card__flight_separator" *ngIf="!last"></div>
    </ng-container>
  </div>

  <div class="flight_card__breakdown">
    <ul class="flight_card__extras" *ngIf="itinerary?.odoList[0]?.segments[0] as segment">
      <li class="flight_card__extra" *ngIf="getBaggage(segment.ID, 'hand').length > 0 && getBaggage(segment.ID, 'hand') as handBaggage ">
        <img
          class="flight_card__extra_icn bag_icon"
          ImageSrc
          src="./../../../assets/icons/srp_Icons/new_hand_baggage.svg"
          alt="hand"
          loading="lazy" />
        <span class="flight_card__extra_desc">Cabin: {{ handBaggage }}</span>
      </li>

      <ng-container *ngIf="getBaggage(segment.ID, 'checked').length > 0 && getBaggage(segment.ID, 'checked') as checkedBaggage">
        <li class="flight_card__extra" *ngIf="checkedBaggage !== 'No baggage allowance'">
          <img
            class="flight_card__extra_icn bag_icon"
            ImageSrc
            src="./../../../assets/icons/srp_Icons/new_checked_baggage.svg"
            alt="checked"
            loading="lazy" />
          <span class="flight_card__extra_desc">Checked: {{ checkedBaggage }}</span>
        </li>

        <li class="flight_card__extra" *ngIf="checkedBaggage === 'No baggage allowance'">
          <span class="flight_card__extra_icn">
            <img
              class="flight_card__extra_icn bag_icon"
              ImageSrc
              src="./../../../assets/icons/srp_Icons/new_no_baggage.svg"
              alt="no bag"
              loading="lazy" />
          </span>
          <span class="flight_card__extra_desc" translate>No Baggage</span>
        </li>
      </ng-container>
    </ul>

    <div class="flight_card__price">
      <!-- The first available discount is the highest (best price) -->
      <ng-container *ngIf="discounts?.availableDiscounts[0] as discount; else standardPricingTemplate">
        <ng-container *ngTemplateOutlet="discountPricingTemplate; context: { $implicit: discount }"></ng-container>
      </ng-container>
    </div>
  </div>

  <div class="flight_card__promo">
    <app-flight-promo-info [itinarary_data]="itinerary"></app-flight-promo-info>
  </div>

  <div class="flight_card__footer" [ngStyle]="{'display' : isMoreFlightsAvl > 1 && flags.length > 0 ? 'inline' : 'flex'}">
    <div class="flight_card__flags">
      <div *ngFor="let flag of flags"
        class="flight_card__flag flight_card__flag--{{ flag.flagType }}" translate>
        {{ flag.flagText }}  
      </div>
    </div>

    <div *ngIf="isMoreFlightsAvl > 1" class="d-inline">
      <a class="flex-shrink-1" (click)="viewMoreFlight()" rel="nofollow" data-toggle="modal" data-target="#more_Flights">
        {{ isMoreFlightsAvl - 1 }}
        <span *ngIf="isMoreFlightsAvl >= 2" translate
        >{{ isMoreFlightsAvl > 2 ? 'More Flights' : 'More Flight' }}
        </span>
      </a>
    </div>

    <div class="flight_card__actions d-inline">
      <button
        mat-button
        type="button"
        class="flight_card__view_details_btn btn primary_btn"
        (click)="onViewDetails()">
          View Details
      </button>
    </div>
  </div>
</div>

<!-- Discounted pricing (Std Bank) -->
<ng-template #discountPricingTemplate let-discount>
  <div class="flight_card__price_total flight_card__price_total--discounted" *ngIf="discount.amount !== 0">
    <span>{{ itinerary.currencyCode | currencyCode }}</span>&nbsp;
    <span>{{ itinerary.fareBreakdown.originalAmount | number: '1.0-2' }}</span>
  </div>

  <div class="flight_card__price_total">
    <span>{{ itinerary.currencyCode | currencyCode }}</span>&nbsp;
    <span>{{ itinerary.amount | number: '1.0-2' }}</span>
  </div>
</ng-template>
<!-- Standard pricing (close to base Travelstart) -->
<ng-template #standardPricingTemplate>
  <div class="flight_card__price_total">
    <span>{{ itinerary.currencyCode | currencyCode }}</span>
    <span>{{ itinerary.amount | number: '1.0-2' }}</span>
    <div class="perPerson" *ngIf="showPerson_Price()" translate>Per Person</div>
  </div>
</ng-template>