<div class="travellers-select">
  <div class="travellers-select__close">
    <app-back-button [isTextWhite]="true" (onBack)="closeDialog($event)">Travellers</app-back-button>
  </div>
  <div class="travellers-select__container">
    <div class="travellers-select__message">
      <img class="travellers-select__message-icon" ImageSrc
           src="../../../assets/icons/srp_Icons/fare-breakdown-info.svg" alt="">
      <div class="travellers-select__message-info">
        <span translate> There must be at least one adult per booking for online bookings.</span>
        <span translate>To book for young adults travelling alone, please contact us by calling +27 10 056 4980</span>
      </div>
    </div>
  <div class="travellers-select__maxPaxInfo" *ngIf="!canAddPassengers()">The maximum number of travellers allowed is 9</div>
    <div class="travellers-select__content">
      <div translate class="travellers-select__title">
        Who's flying?
      </div>
      <div translate class="travellers-select__subtitle">
        Travellers
      </div>
      <div class="travellers-select__demographic">
        <div class="demographic__info">
          <div translate class="demographic__title">
            Adults
          </div>
          <div translate class="demographic__subtitle">
            Age 16+ yrs
          </div>
        </div>
        <app-custom-number-picker [min]="adultLimits.min" [max]="adultLimits.max" [disableAdd]="!canAddPassengers()"
                                  [(value)]="totalAdults"></app-custom-number-picker>
      </div>
      <div class="travellers-select__demographic">
        <div class="demographic__info">
          <div translate class="demographic__title">
            Young Adults
          </div>
          <div translate class="demographic__subtitle">
            Age 12-15 yrs
          </div>
        </div>
        <app-custom-number-picker [min]="youngAdultLimits.min" [max]="youngAdultLimits.max"
                                  [disableAdd]="!canAddPassengers()"
                                  [(value)]="totalYoungAdults"></app-custom-number-picker>
      </div>
      <div class="travellers-select__demographic">
        <div class="demographic__info">
          <div translate class="demographic__title">
            Children
          </div>
          <div translate class="demographic__subtitle">
            Age 2-11 yrs
          </div>
        </div>
        <app-custom-number-picker [min]="childLimits.min" [max]="childLimits.max" [disableAdd]="!canAddPassengers()"
                                  [(value)]="totalChildren"></app-custom-number-picker>
      </div>
      <div class="travellers-select__demographic">
        <div class="demographic__info">
          <div translate class="demographic__title">
            Infants
          </div>
          <div translate class="demographic__subtitle">
            Under 2 yrs
          </div>
        </div>
        <app-custom-number-picker [min]="infantLimits.min" [max]="infantLimits.max"
                                  [disableAdd]="!canAddPassengers()"
                                  [(value)]="totalInfants"></app-custom-number-picker>
      </div>
    </div>
    <div class="travellers-select__error-container" *ngIf="isFormInValid()" translate>
      <img ImageSrc src="../../../assets/icons/error-icon.svg" alt="">

      <div class="travellers-select__error" *ngIf="isInfantCountInValid() && totalAdults > 0" translate>
        The number of Infants cannot exceed the number of adults. Ratio is 1:1.
      </div>
      <div class="travellers-select__error" *ngIf="isAdultCountInValid()" translate>
         There must be at least one adult per booking for online bookings.
      </div>
    </div>

    <div class="mt-3 mb-3" >
      <app-warning-notification
        [notificationTitle]="'Travel Insurance'"
        [hideTitle]="false"
        [hideIcon]="true"
      >
        <app-travel-insurance-info></app-travel-insurance-info>
      </app-warning-notification>
    </div>

    <button class="travellers-select__save" (click)="save()" [disabled]="isFormInValid()">Save</button>
  </div>
</div>
