<div class="modal-body ticketBody">
  <div class="flexi_conditions">
    <ul>
      <li>
        <span
          ><span translate>If the price of your rebooked ticket is higher</span>,
          <span translate>you will be required to pay the difference in airfare and taxes. </span>
        </span>
      </li>
      <li>
        <span
          ><span translate>For international travel</span>,
          <span translate>you will only receive one date change.</span>
          <span translate>All changes must be done PRIOR to the original departure date on the ticket.</span>
        </span>
      </li>
      <li>
        <span>
          <span translate>For domestic travel</span>,
          <span translate
            >you will receive one date change for your outbound flight and one for your inbound flight.</span
          >
          <span translate>Changes must be done PRIOR to the departure of outbound or inbound travel.</span>
        </span>
      </li>
      <li>
        <span>
          <span translate
            >You can change your travel to any date within the validity of your ticket (can vary between 1 – 6
            months).</span
          >
          <span translate>The validity of your ticket is determined by the airline’s policy.</span>
        </span>
      </li>

      <li>
        <span>
          <span translate>This product only covers date changes and may not be used for traveller name changes</span>,
          <span translate>rerouting stopovers and class upgrades.</span>
        </span>
      </li>

      <li translate>Changes to origin/destination airports and airlines are not permitted.</li>
      <li translate>Date changes must be requested at least 24 hours PRIOR to departure.</li>
      <li>
        <span>
          <span translate>If you are departing in more than 48 hours</span>,
          <span translate>
            date changes will be processed during normal office hours from Monday to Friday 08:30-17:00 and Saturdays
            09:00-13:00.
          </span>
        </span>
      </li>
      <li>
        <span>
          <span translate>If you are departing in less than 48 hours</span>,
          <span translate>emergency requests will be processed</span>
          <span translate>seven days a week from 07:00-01:00.</span>
        </span>
      </li>
      <li translate>The new date requested must be more than 24 hours from the time your request is submitted.</li>
      <li translate>Flights must be used in the order they were originally booked.</li>
    </ul>
  </div>
</div>
