<div class="sorting" *ngIf=" (responsiveService.screenWidth == 'sm' || responsiveService.screenWidth == 'md')">
  <div class="sort_types">
    <span class="close_Icn d-block d-lg-none float-right" [ngClass]="{'p-2': region !== 'ABSA', 'pt-1 pr-2': region === 'ABSA'}" data-toggle="modal" data-target="#res_sorting">
      <img
        ImageSrc
        src="../../../assets/icons/srp_Icons/close-icn-new-all.svg"
        alt="close"
        class="float-right"
        data-dismiss="modal"
        aria-label="Close"
      />
    </span>
    <span class="d-block d-lg-none sort_labl_head"> Sort By: </span>
    <div class="route_info d-lg-none">
       Departure from <span>{{ getCityName(flightslist[0]?.odoList[0]?.segments[0]?.origCode) }}</span>
    </div>
    <ul *ngIf="region === 'ABSA'" class="mb-0">
      <li
        class="theme__sorting-option"
        (click)="setFlightsByOrder('priceAsc', 'Cheapest')"
        (keydown)="emptyEvent()"
        [ngClass]="{ active: isActive('priceAsc') }"
      >
        <div class="card-body">
          <div class="icnSort theme__sorting-image-container">
            <img
              ImageSrc
              class="theme__sorting-image"
              [ngClass]="{ 'd-none': isActive('priceAsc') }"
              src="./../../../assets/icons/travellerpage_Icons/tick_default.svg"
              alt="cheapest"
            />
            <img
              ImageSrc
              class="theme__sorting-image"
              [ngClass]="isActive('priceAsc') ? 'active' : 'd-none'"
              src="./../../../assets/icons/absa_icons/radio-button-filled.svg"
              alt="cheapest"
            />
          </div>
          <div class="sort_txt">
            <div translate class="labl">Cheapest</div>
            <div class="labl">
              <span translate></span> {{ currency_Code | currencyCode
              }}{{ getCheapestPrice('priceAsc') | currency: '' + ' ':'symbol':'2.0' }}</div
            >
          </div>
        </div>
      </li>
      <li
        class="theme__sorting-option"
        (click)="setFlightsByOrder('durationAsc', 'Fastest')"
        (keydown)="emptyEvent()"
        [ngClass]="{ active: isActive('durationAsc') }"
      >
        <div class="card-body">
          <div class="icnSort theme__sorting-image-container">
            <img
              ImageSrc
              class="theme__sorting-image"
              [ngClass]="{ 'd-none': isActive('durationAsc') }"
              src="./../../../assets/icons/travellerpage_Icons/tick_default.svg"
              alt="cheapest"
            />
            <img
              ImageSrc
              class="theme__sorting-image"
              [ngClass]="isActive('durationAsc') ? 'active' : 'd-none'"
              src="./../../../assets/icons/absa_icons/radio-button-filled.svg"
              alt="cheapest"
            />
          </div>
          <div class="sort_txt">
            <div translate class="labl">Fastest</div>
            <div class="labl"> {{ getFastestFlight('durationAsc') }}</div>
          </div>
        </div>
      </li>
      <li
        class="theme__sorting-option"
        (click)="setFlightsByOrder('departureAsc', 'Earliest Departure')"
        (keydown)="emptyEvent()"
        [ngClass]="{ active: isActive('departureAsc') }"
      >
        <div class="card-body">
          <div class="icnSort theme__sorting-image-container">
            <img
              ImageSrc
              class="theme__sorting-image"
              [ngClass]="{ 'd-none': isActive('departureAsc') }"
              src="./../../../assets/icons/travellerpage_Icons/tick_default.svg"
              alt="earliest"
            />
            <img
              ImageSrc
              class="theme__sorting-image"
              [ngClass]="isActive('departureAsc') ? 'active' : 'd-none'"
              src="./../../../assets/icons/absa_icons/radio-button-filled.svg"
              alt="earliest"
            />
          </div>
          <div class="sort_txt">
            <div translate class="labl">Earliest</div>
            <div class="labl">
              {{ getEarliestFlight('departureAsc') }}
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul *ngIf="region !== 'ABSA'" class="mb-0">
      <li
        class="card sortCard"
        (click)="setFlightsByOrder('priceAsc', 'Cheapest')"
        (keydown)="emptyEvent()"
        [ngClass]="{ active: isActive('priceAsc') }"
      >
        <div class="card-body">
          <span class="icnSort">
            <img ImageSrc class="in-active" src="./../../../assets/icons/cheapest-money.svg" alt="cheapest" />
            <img ImageSrc class="active" src="./../../../assets/icons/cheapest-money-active.svg" alt="cheapest" />
          </span>
          <span class="sort_txt">
            <label translate class="labl">Cheapest</label>

            <label class="bld_labl">
              <span translate>From</span> {{ currency_Code | currencyCode
              }}{{ getCheapestPrice('priceAsc') | currency: '' + ' ':'symbol':'2.0' }}</label
            >
          </span>
        </div>
      </li>
      <li
        class="card sortCard"
        (click)="setFlightsByOrder('durationAsc', 'Fastest')"
        (keydown)="emptyEvent()"
        [ngClass]="{ active: isActive('durationAsc') }"
      >
        <div class="card-body">
          <span class="icnSort">
            <img ImageSrc class="in-active" src="./../../../assets/icons/fastest-normal.svg" alt="fastest" />
            <img ImageSrc class="active" src="./../../../assets/icons/fastest-active.svg" alt="fastest" />
          </span>
          <span class="sort_txt">
            <label translate class="labl">Fastest</label>
            <label class="bld_labl"> {{ getFastestFlight('durationAsc') }}</label>
          </span>
        </div>
      </li>
      <li
        class="card sortCard"
        (click)="setFlightsByOrder('departureAsc', 'Earliest Departure')"
        (keydown)="emptyEvent()"
        [ngClass]="{ active: isActive('departureAsc') }"
      >
        <div class="card-body">
          <span class="icnSort">
            <img ImageSrc class="in-active" src="./../../../assets/icons/earliest-normal.svg" alt="earliest" />
            <img ImageSrc class="active" src="./../../../assets/icons/earliest-active.svg" alt="earliest" />
          </span>
          <span class="sort_txt">
            <label translate class="labl">Earliest</label>
            <label class="bld_labl">
              {{ getEarliestFlight('departureAsc') }}
            </label>
          </span>
        </div>
      </li>
      <li
        class="card mr-0 sortCard d-none"
        (click)="setFlightsByOrder('departureDesc', 'Latest Departure')"
        (keydown)="emptyEvent()"
        [ngClass]="{ active: isActive('departureDesc') }"
      >
        <div class="card-body">
          <span class="icnSort">
            <img ImageSrc class="in-active" src="./../../../assets/icons/lastest-normal.svg" alt="latest" />
            <img ImageSrc class="active" src="./../../../assets/icons/lastest-active.svg" alt="latest" />
          </span>
          <span class="sort_txt">
            <label translate class="labl">Latest</label>
            <label class="bld_labl">
              {{ getEarliestFlight('departureDesc') }}
            </label>
          </span>
        </div>
      </li>

    </ul>

    <div class="col-12 d-block d-lg-none p-0 sorting_actions">
      <div class="row">
        <div
          class="col-6"
          (click)="setFlightsByOrder('priceAsc', 'Cheapest', true)"
          (keydown)="emptyEvent()"
          [ngClass]="{ active: isActive('priceAsc') }"
        >
        </div>
        <div class="col-10 m-auto theme__sorting-apply-button-container">
          <button
            translate
            (click)="applyMwebSorting()"
            aria-label="Apply"
            mat-button
            class="btn applyBtn primary_btn w-100 mt-4"
            data-target="#res_sorting"
            data-dismiss="modal"
          >
            <span translate>Apply</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="domestic_sort d-lg-inline"  *ngIf=" (responsiveService.screenWidth !== 'sm' && responsiveService.screenWidth !== 'md')">

  <button  [matMenuTriggerFor]="theMenu" #t="matMenuTrigger" class="sort_btn"><span>
    <img ImageSrc class="in-active"
    [src]="flightSearchData?.country !== 'GI' ? './../../../assets/icons/v1-icons/sort-new-icn.svg' : './../../../assets/icons/gigm_icons/sort-new-icn.svg'"
     alt="sort_icn" />
  </span> <span>{{selectedSort}}</span>
  <span class="float-right">
     <i *ngIf="!t.menuOpen"   aria-hidden="true"  class="fa fa-angle-down"></i>
      <i *ngIf="t.menuOpen"  aria-hidden="true"  class="fa fa-angle-up"></i>
</span>
</button>
  <mat-menu #theMenu="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="below">
    <button
      mat-menu-item
      class="mat_menu_btn bor_btm"
      [disableRipple]="true"
      (click)="setFlightsByOrder('priceAsc', 'Cheapest')"
    >
      <span>
        <img ImageSrc class="in-active" src="./../../../assets/icons/v1-icons/sort-cheapest.svg" alt="cheapest"  />
      </span>
      <span translate class="sort_labl">Cheapest</span>
      <span class="sort_val float-right"
        >{{ currency_Code | currencyCode }}{{ getCheapestPrice('priceAsc') | currency: '' + ' ':'symbol':'2.0' }}</span
      >
    </button>
    <button
      mat-menu-item
      class="mat_menu_btn bor_btm"
      [disableRipple]="true"
      (click)="setFlightsByOrder('durationAsc', 'Fastest')"
    >
      <span>
        <img ImageSrc class="in-active" src="./../../../assets/icons/v1-icons/sort-fastest.svg" alt="fastest"  />
      </span>
      <span translate class="sort_labl">Fastest</span>
      <span class="sort_val float-right"> {{ getFastestFlight('durationAsc') }}</span>
    </button>
    <button
      mat-menu-item
      class="mat_menu_btn"
      [disableRipple]="true"
      (click)="setFlightsByOrder('departureAsc', 'Earliest')"
    >
      <span>
        <img ImageSrc class="in-active" src="./../../../assets/icons/v1-icons/sort-earliest.svg" alt="earliest"  />
      </span>
      <span translate class="sort_labl">Earliest</span>
      <span class="sort_val float-right"> {{ getEarliestFlight('departureAsc') }}</span>
    </button>
    <button
      mat-menu-item
      class="mat_menu_btn d-none"
      [disableRipple]="true"
      (click)="setFlightsByOrder('departureDesc', 'Latest')"
    >
      <span>
        <img ImageSrc class="in-active" src="./../../../assets/icons/v1-icons/sort-earliest.svg" alt="latest"/>
      </span>
      <span translate class="sort_labl">Lastest</span>
      <span class="sort_val float-right">{{ getEarliestFlight('departureDesc') }}</span>
    </button>
  </mat-menu>
</div>
