<app-header></app-header>
<div class="page-not-found pt-3">
  <div class="desktop-view">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <img
            class="image"
            src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/404_desktop_f50d90764a.png"
            alt="404 page not Found - Travelstart"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-view">
    <img
      class="image"
      src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/404_mobile_48479468cb.png"
      alt="404 page not Found - Travelstart"
    />
  </div>

  <div class="flapp-banner pt-4 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="bg-image">
            <img
              class="desktop"
              src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/flapp_desktop_790e138ae6.png"
              alt="Flapp. All-in-one travel app"
            />
            <img
              class="mobile"
              src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/flapp_mobile_b83335abba.png"
              alt="Flapp. All-in-one travel app"
            />
          </div>
          <div class="store-logos">
            <span class="logos">
              <a href="https://itunes.apple.com/za/app/flapp/id1053875428?mt=8" target="_blank" rel="noopener">
                <img
                  src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/app_store_btn_h56_72b690d623.png"
                  alt="Flapp. All-in-one travel app"
                />
              </a>
              <a
                href="https://play.google.com/store/apps/details?id=com.travelstart.flapp"
                rel="noopener"
                target="_blank"
              >
                <img
                  src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/google_play_btn_h56_a6aab59529.png"
                  alt="Flapp. All-in-one travel app"
                />
              </a>
            </span>
            <span class="text">OR</span>
            <img
              class="flapp-qr"
              src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/QR_Flapp_Download_5604c4da7d.png"
              alt="Flapp. All-in-one travel app"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
