<div class="overlay">
  <div class="overlay-content">
    <div class="sec_img">
      <img ImageSrc class="w-mob-set mb-3" src="./../../../../assets/images/site-redir.svg" alt="server Error" />
    </div>
    <p>For better deals and local offers, we
      recommend you visit our South African website.</p>

      <button type="button" aria-label="Modify Search" class="btn ok-btn primary_btn mt-4" (click)="enableForceRedirect()">
        <span  translate>Yes, Please</span>
      </button>
      <div class="clearfix"></div>
      <button type="button" class="btn mt-2 cancel_btn" aria-label="Search Again" (click)="onCloseClick()">
        <span translate>No, Thanks</span>
      </button>
  </div>
</div>
