  <div class="discount-promo">
    <div class="discount-promo__body">
      <div class="discount-promo__name">
        {{ name ?? 'Total Price' }}
      </div>

      <div class="discount-promo__price">
        <div class="discount-promo__total " *ngIf="totalAmount && discountedAmount !== 0">
          
          <img *ngIf="showInfo && !discountAmount"
            class="discount-promo__info-icon theme__info-icon"
            ImageSrc src="../../../assets/icons/wt-info-icon.svg"
            alt="info"
            width="14"
            height="14"
            data-toggle="collapse"
            data-target="#fareBreakdown"
            (click)="onInfoClicked()" />
          
            <span class="amt" *ngIf="discountAmount" [ngClass]="discountAmount ? 'discount-promo__total--discounted' : ''">
              {{ currencyCode | currencyCode }}
              <span>{{ totalAmount + discountAmount | currency: '' + ' ':'symbol':'1.2-2' }}</span>
            </span>
            <span class="t_amt" *ngIf="!discountAmount">
              {{ currencyCode | currencyCode }}   
              <span *ngIf="itinDiscount">{{ totalAmount - itinDiscount | currency: '' + ' ':'symbol':'1.2-2' }}</span>
              <span *ngIf="!itinDiscount">{{ totalAmount | currency: '' + ' ':'symbol':'1.2-2' }}</span>
            </span>
          
        </div>
        <div class="discount-promo__total" *ngIf="discountAmount && discountedAmount">
          <img *ngIf="showInfo"
            class="discount-promo__info-icon theme__info-icon"
            ImageSrc src="../../../assets/icons/wt-info-icon.svg"
            alt="info"
            width="14"
            height="14"
            data-toggle="collapse"
            data-target="#fareBreakdown"
            (click)="onInfoClicked()" />

          <span class="discount-promo__total-amount">
            {{ currencyCode | currencyCode }}
            {{ totalAmount | currency: '' + ' ':'symbol':'1.2-2' }}
          </span>
        </div>
      </div>
    </div>

    <div class="discount-promo__footer" *ngIf="percentage">
      You'll get a <strong>{{ percentage | number: '0.0-2' }}%</strong> discount applied
    </div>
  </div>

  <div id="booking_feeAmt" class="text-right" *ngIf="processingFeeAmount && processingFeeAmount.processingFee > 0 && showBookingFee">
    <p>*Includes booking fee of <span class="feeAmt">+{{ currencyCode | currencyCode }}{{processingFeeAmount.processingFee}}</span></p>
  </div>
