<div class="fs_wrapper">
  <div class="wrapper">
    <div class="toolbar">
      <mat-toolbar>
        <div class="container p-0">
          <span>
            <a class="branding spacer" (click)="navigateUserOnClick()">
              <img
                class="logoFS"
                src="https://cdn1.travelstart.com/assets/flight-site-assets/fs_logo.png"
                alt="flight site"
            /></a>
          </span>

          <div class="float-right col-lg-4 col-xl-5 pl-lg-5 pr-0 help_sec">
            <ul class="navbar-nav pl-lg-5 float-right">
              <li class="nav-item dropdown div" data-toggle="dropdown">
                <a class="nav-link text-light captalize" rel="nofollow" (click)="contactPage()">
                  <span
                    ><img
                      ImageSrc
                      src="../../assets/icons/v1-icons/help-header.svg"
                      width="22px"
                      height="100%"
                      alt="Contact us"
                  /></span>
                  <span translate class="captalize helpTxt">Help</span></a
                >
              </li>
            </ul>
          </div>

          <div class="float-right d-inline d-lg-none">
            <ul style="list-style: none; display: block; padding: 0; margin: 0"></ul>
          </div>
        </div>
      </mat-toolbar>
    </div>
  </div>
</div>
