<div class="contact_info">
  <div class="card">
    <div class="card-body">
      <div class="section_heading">
        <h4 translate>Contact details</h4>
        <label for="booking confirmation" translate>
          {{ infoText }}
        </label>
      </div>

      <form class="mb-2 mb-xs-0" [formGroup]="contactForm" (ngSubmit)="saveContactDetails()">
        <div class="row pt-2">
          <div class="form-group col-lg-5 col-md-6 mb-1">
            <label for="phone" translate class="control-label">
              {{ mobileNumberLabel }}
            </label>

            <ngx-intl-tel-input
              #phone
              (paste)="onPaste($event)"
              (keypress)="onlyNumberKey($event)"
              [cssClass]="'custom-international form-control'"
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [customPlaceholder]="mobileNumberPlaceholder"
              [searchCountryFlag]="true"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="selectedCountryCode"
              [maxLength]="'15'"
              [separateDialCode]="separateDialCode"
              [numberFormat]="PhoneNumberFormat.National"
              name="phone"
              formControlName="phone"
              id="mobileNumber"
              (countryChange)="onCountryChange($event)"
              [phoneValidation]="false"
            >
            </ngx-intl-tel-input>

            <div translate class="validation_msg" *ngIf="submitForm && contactForm?.get('phone')?.errors?.required">
              {{ mobileNumberLabel }} is required.
            </div>
            <div
              translate
              class="validation_msg"
              *ngIf="
                submitForm &&
                contactForm?.get('phone')?.errors?.minlengthError &&
                !mobileCodeInvalid &&
                !mobileNumLengthFailed
              "
            >
              {{ mobileNumberLabel }} should have minimum 6 digits.
            </div>
            <div
              class="validation_msg"
              translate
              *ngIf="
                submitForm &&
                contactForm?.get('phone')?.errors?.maxlengthError &&
                !contactForm?.get('phone')?.errors?.pattern &&
                !mobileCodeInvalid &&
                !mobileNumLengthFailed
              "
            >
              {{ mobileNumberLabel }} should have maximum 14 digits.
            </div>

            <div *ngIf="mobileCodeInvalid">
              <div translate class="validation_msg">Please check your mobile code</div>
            </div>
            <div *ngIf="mobileNumLengthFailed">
              <div translate class="validation_msg">Please check your {{ mobileNumberLabel }} you have entered</div>
            </div>

            <div class="clearfix"></div>
          </div>

          <div class="form-group col-lg-5 col-md-6 mb-1">
            <label for="email" translate class="control-label">
              {{ emailLabel }}
            </label>
            <input
              class="form-control rounded-0"
              (input)="keyEvent()"
              appAutoTrim
              placeholder="{{ emailPlaceholder | translate }}"
              id="email"
              formControlName="email"
              (input)="filterEmailCharacters($event)"
              [readOnly]="restrictInputEditOption(contactForm?.get('email')?.value)"
            />
            <div class="clearfix"></div>

            <div
              class="validation_msg"
              translate
              *ngIf="submitForm && (contactForm?.get('email')?.errors?.required || !contactForm?.get('email')?.value)"
            >
              {{ emailLabel }} is required.
            </div>
            <div class="validation_msg" translate *ngIf="submitForm && contactForm?.get('email')?.errors?.pattern">
              Invalid {{ emailLabel }}
            </div>

            <div class="validation_msg" *ngIf="submitForm && invalidEmail" translate>Please enter valid email</div>
          </div>
        </div>
      </form>
      <!-- WhatsApp Section -->
      <ng-container *ngIf="country !== 'ABSA' && whatsappProduct && !iframeWidgetService.isB2BApp()">
        <ng-container *ngTemplateOutlet="country === 'SB' ? whatsAppProductWhitelabelAlphaTemplate : whatsAppProductTemplate"></ng-container>
      </ng-container>

      <div *ngIf="smsProduct && smsProduct.amount > 0">
        <ng-container *ngTemplateOutlet="smsProductTemplate"></ng-container>
      </div>
    </div>
  </div>
</div>

<!-- Standard WhatsApp template using inline styles -->
<ng-template #whatsAppProductTemplate>
  <div class="isWhatsApp_alerts mb-2 mt-2" >
    <div class="wtsupIcon float-left mr-1">
      <img ImageSrc src="../../../assets/icons/whatsapp-circle.svg" alt="whatsapp" />
    </div>
    <div
      class="text_info float-left mr-2"
      [style.width]="responseService.screenWidth === 'sm' || responseService.screenWidth === 'md' ? '55%' : ''"
    >
      <div class="wtsupTxt" translate *ngIf="whatsappProduct.initSelected">
        {{ whatsAppText }}
        <img class="theme__info-icon" ImageSrc src="../../../assets/icons/wt-info-icon.svg" alt="info" [ngbTooltip]="tipContent" />
      </div>
      <div class="wtsupTxt" translate *ngIf="!whatsappProduct.initSelected">
        {{ whatsAppDisabledText }}
        <img class="theme__info-icon" ImageSrc src="../../../assets/icons/wt-info-icon.svg" alt="info" [ngbTooltip]="tipContent" />
      </div>
    </div>
    <div class="wtsupToggle ml-auto float-right float-lg-none d-flex align-items-center">
      <span *ngIf="whatsappProduct && !whatsappProduct.hidePrice" class="mr-1 whatsapp_Amount">
        +{{ currency | currencyCode }}{{ whatsappProduct.amount }}
      </span>
      <label class="toggle-switch float-right mb-0">
        <input
          type="checkbox"
          name=""
          class="d-none"
          (change)="onWhatsappChange(whatsappProduct)"
          [checked]="whatsappProduct.initSelected"
        />
        <div class="slider_switch"></div>
      </label>
    </div>
  </div>
</ng-template>

<!-- Alternative WhatsApp template using flexbox -->
<ng-template #whatsAppProductWhitelabelAlphaTemplate>
  <div class="whatsapp-product" *ngIf="whatsappProduct">
    <img
      class="whatsapp-product__icon"
      ImageSrc
      src="../../../assets/icons/whatsapp-circle.svg"
      alt="whatsapp" />

    <div class="whatsapp-product__text">
      {{ whatsappProduct.initSelected ? whatsAppText : whatsAppDisabledText }}
    </div>

    <img
      class="whatsapp-product__info-icon theme__info-icon"
      ImageSrc
      src="../../../assets/icons/wt-info-icon.svg"
      alt="info"
      [ngbTooltip]="tipContent" />

    <div class="whatsapp-product__price">
      <ng-container *ngIf="!whatsappProduct.hidePrice">
        <span>+</span>
        <span>{{ currency | currencyCode }}</span>
        <span>{{ whatsappProduct.amount }}</span>
      </ng-container>
    </div>

    <label class="whatsapp-product__toggle toggle-switch">
      <input
        type="checkbox"
        name=""
        class="d-none"
        (change)="onWhatsappChange(whatsappProduct)"
        [checked]="whatsappProduct.initSelected"
      />
      <div class="slider_switch"></div>
    </label>
  </div>
</ng-template>

<ng-template #tipContent
  ><span translate>We’ll send your E-Ticket straight to your WhatsApp only for</span> +{{
    currency | currencyCode
  }}{{ whatsappProduct.amount }}.
</ng-template>

<ng-template #smsProductTemplate>
  <label class="sms_ser">
    <mat-checkbox
      class="form-switch radio_1set"
      name="isSms_subscribed"
      [checked]="smsProduct.initSelected"
      (change)="onSMSChange(smsProduct)"
    ></mat-checkbox>
    <span>
      <span translate>Booking details via SMS</span> {{ currency | currencyCode }}{{ smsProduct.amount }}
    </span>
  </label>
</ng-template>
