#resultDetailModal {
  min-height: 100%;
  background: var(--secondary_Body_bg);
}

.flight-itinerary {
  &__container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &__journey {
    padding: 1rem 0;
    margin: 0 0.25rem;
  }

  &__journey-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
  }

  &__journey-dest {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    /* Typography */
    font-family: var(--heading_font_family);
    font-size: var(--heading_font_size, 18px);
    font-weight: 400;
    line-height: 1rem;
    color:  #022373;
  }

  &__journey-date {
    margin: 0;
    padding: 0;
    /* Typography */
    font-family: var(--body_font_family);
    font-size: var(--body_font_size, 14px);
    font-weight: 400;
    line-height: 1rem;
    color:  #022373;
  }

  &__journey-duration {
    margin-left: auto;
    padding: 0;
    text-align: right;

    /* Typography */
    font-family: var(--label_font_family);
    font-size: var(--label_font_size_xs, 12px);
    font-weight: 400;
    line-height: 1rem;

    /* Colours */
    color: #717070;
  }
   &__journey-duration::before{
          content: "•";
          font-size: 18px;
          color: #033ECA;
          margin-right: 5px;
          vertical-align: middle;
    }
}

.flight-segment {
  display: grid;
  grid-template-columns: auto 1fr; /* Line and content */
  padding: 1.5rem;

  border: 1px solid var(--border_light_color);
  background: var(--primaryBgColor);
  border-radius: var(--border_radius);

  &__airline {
    /* Fill the entire top row of the grid */
    grid-row: 1;
    grid-column: 1 / -1;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  &__airline-name {
    font-family: var(--body_font_family);
    font-size: var(--body_font_size, 1rem);
  }

  &__flight-number {
    font-family: var(--body_font_family);
    font-size: 13px;
    color: #5E6470;
  }

  &__line {
    /* Show the line along the left of the card */
    grid-row: 2;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
    padding: 0.25rem 0 1.5rem 0;

    &-end {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.5rem;
      background: black;
      margin: 0.125rem;
    }

    &-fill {
      flex: 1;
      border: 1px solid black;
    }
  }

  /* The final "Arrival" label must align with the bottom dot on the line */
  &:last-of-type {
    .flight-segment__line {
      margin-bottom: 1.5rem;
    }
  }

  &__breakdown {
    /* Show the segment breakdown next to the line */
    grid-row: 2;
    grid-column: 2;

    /* Align the Departur and Arrival labels with the airline name */
    margin-left: 0.5rem;

    /* Constrain any long airline names to within the card */
    overflow: hidden;
  }

  &__airport {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  &__airport-lbl {
    font-family: var(--heading_font_family);
    font-size: var(--body_font_size, 1rem);
    font-weight: 400;
    color:  #022373;
  }

  &__airport-time {
    font-family: var(--heading_font_family);
    font-size: var(--body_font_size, 1rem);
    font-weight: 400;
  }
  &__airport-code {
    font-family: var(--heading_font_family);
    font-size: var(--label_font_size_xs, 0.75rem);
    font-weight: 400;
  }

  &__airport-name {
    font-family: var(--body_font_family);
    font-size: var(--label_font_size_xs, 0.75rem);
    font-weight: 400;
    white-space: nowrap;
  }
  &__airport-date {
    font-size: 12px;
    font-weight: 400;
  }
  &__duration {
    margin: 2rem 0;

    /* Typography */
    font-family: var(--label_font_family);
    font-size: var(--label_font_size_xs, 0.75rem);
    font-weight: 400;

    /* Colours */
    color: var(--text_secondary_color);
  }

  &__layover {
    padding: 2rem 0 2rem 1rem;
    margin-left: 2.25rem; /* Lines up with the vertical line */
    border-left: 1px dashed black;
  }

  &__layover-warning {
    width: 100%;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--border_light_color);
    background: var(--layover_bg_color);
    border-radius: var(--border_radius);

    /* Typography */
    font-family: var(--label_font_family);
    font-size: var(--label_font_size_xs, 0.75rem);
    font-weight: 400;
    white-space: nowrap;
  }

  &__layover-icn {
    margin-right: 0.75rem;
  }
  .changeToSBColor{
    color: #022373;
  }
}

pre {
  max-height: 20rem;
  overflow: auto;
}
