<div class="container-fluid white_label p-0">
  <div class="site_banner">
    <div class="container">
      <div class="row mc_contentSec">
        <div class="col-lg-6 col-12">
          <div class="travel_smartTxt">
            Travel smarter,Pay less
          </div>
        <div class="deals_main_headtxt">Enjoy up to 10% off</div>
        <div class="deals_main_headtxt">on international trips</div>
        <div class="deals_main_headtxt">with Mastercard</div>
        </div>
      </div>
      
      <div class="search_section">
        <app-search></app-search>
      </div>
    </div>
  </div>

  <div class="container whats_new_section">
    <!--Whats New-->
    <app-home-page-banners></app-home-page-banners>
  </div>

  <div class="deals_section">
    <div class="container deals_info mt-3">
      <div class="text-center">
        <div class="deals_headtxt">So what's the deal?</div>
        <p class="deals_desc">
          Travelstart and Mastercard have teamed up to bring you a world filled with affordable flights.
           Sounds nice right? But hey, hang on, what's the catch? Well we don't believe there should be anything stopping you get the cheaper flights you deserve.
           Yup, we don't even need you to do push ups, have health checks or drive politely to qualify. All you need is your Mastercard and your itinerary, bucket list or sense of adventure. It's really that simple. Make it happen.
        </p>
      </div>
      <div class="termsAndConditionSec">
          <app-mc-terms-conditions></app-mc-terms-conditions>
      </div>
      <div class="campaignSec">
        This campaign is conducted in accordance with the Mastercard Merchant Promotion Agreement. Refunds or unredeemed promotional allocations may be returned to Mastercard after the promotion concludes, as applicable.
      </div>
    </div>
  </div>
</div>
