<div class="bookFlightsSection pad-20">
  <h1>How to book flights with us</h1>
  <div class="row mb-2">
    <div class="col-lg-4 col-md-6 pad-20">
      <div class="flights_txt">1. Enter your departure city, arrival destination, and travel dates and search.</div>
    </div>
    <div class="col-lg-4 col-md-6 pad-20">
      <div class="flights_txt">2. Select the flight option most suited to your schedule and budget.</div>
    </div>

    <div class="col-lg-4 col-md-6 pad-20">
      <div class="flights_txt">3. Insert the correct passenger details according to passport / ID book.</div>
    </div>

    <div class="col-lg-4 col-md-6 pad-20">
      <div class="flights_txt">4. Opt to purchase rebookable flights, baggage or travel insurance.</div>
    </div>
    <div class="col-lg-4 col-md-6 pad-20">
      <div class="flights_txt">
        5. Select your preferred payment method.
        <div class="payments_txt">choose payments</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pad-20">
      <div class="flights_txt">6. Once payment is received, you will receive booking confirmation via email.</div>
    </div>
  </div>
  <div class="row" *ngIf="isFlightSiteOrg()">
     <div class="col-lg-4 col-md-6 pad-20">
      <div class="flights_txt">7. Passengers have to be at the airport at least one hour before domestic departures and at least three hours before international departures.</div>
    </div>
     <div class="col-lg-8 col-md-6 pad-20">
      <div class="flights_txt">8. New Immigration Regulation dictates that as from 01 June 2015, children under 18 require Unabridged Birth Certificates, or Birth Certificates Containing Parental Details. 
        This requirement applies in addition to the requirement of a passports when travelling internationally. Should you be travelling with/making a reservation for a child, please ensure that you apply for these certificates timeously.</div>
    </div>
     <div class="col-lg-4 col-md-6 pad-20">
      <div class="flights_txt">9. Please ensure that you check the visa and inoculation requirements for all transit points.</div>
    </div>
     <div class="col-lg-8 col-md-6 pad-20">
      <div class="flights_txt">10. Passengers travelling internationally must ensure that their passports are valid for 6 months after your return to South Africa. Please also ensure that you have a minimum of two blank pages in your passport.</div>
    </div>
     <div class="col-lg-4 col-md-6 pad-20">
      <div class="flights_txt">11. Passengers travelling domestically must ensure that they have a valid picture ID. This includes a driver’s license, Identity Document and Passport.</div>
    </div>
     <div class="col-lg-4 col-md-6 pad-20">
      <div class="flights_txt">12. Please also reconfirm all of your flights 72hours before departure between 9am-17h00pm with our office or directly with the airline.</div>
    </div>
  </div>
</div>
