<div class="err_page text-center">
    <div class="container">
      <div class="sec_img">
        <img ImageSrc class="w-mob-set" src="./../../../../assets/images/nff-web.svg" alt="server Error" />
      </div>
      <div class="err_msg">
        <h4><span translate>No Flights Found.</span></h4>
        <h6 translate class="mt-3">There are no flights available for your selected route and date.</h6>
        <h6 translate class="mt-2">Try searching by a different date or changing your search filters.</h6>
      </div> 
        <button type="button" aria-label="Modify Search" class="btn ok-btn default_btn" (click)="homePage()">
          <span  translate>Modify Search</span>   
        </button>
        <button type="button" class="btn ok-btn primary_btn" aria-label="Search Again" (click)="searchAgain()">
          <span translate>Search Again</span>
        </button>   
    </div>
  </div>
  