<div
  class="landing_page" id="landingPage"
  [style.height]="navService.isNavOpen() ? '0px' : '100%'"
>
  <div class="landing_page_bg">
      <div *ngIf="region === 'SB'" class="container w-100 px-0">
        <div class="search-notification-warning">
          <img *ngIf="!hideIcon" ImageSrc src="./../../../assets/icons/info_hme_yellow.svg" alt="info" class="apply-orange-color" />
          <div>
            <h5 class="mb-1" *ngIf="!hideTitle" translate [translate]="notificationTitle"></h5>
            <span translate>
              <ng-content></ng-content>
            </span>
          </div>
        </div>
      </div>
  </div>
</div>