<footer class="footer_area">
  <div class="ftr_btm_area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 left_nav">
          <div class="text-left text-center-xs">
            <ul class="nav-list">
              <li class="nav-list-item">
                <a
                  translate
                  href="{{ 'terms and conditions URL' | translate }}"
                  target="_blank"
                  rel="noopener"
                  class="nav-link"
                >
                  <span translate>T&Cs</span>
                </a>
              </li>
              <li>
                <a translate href="{{ 'privacy URL' | translate }}" target="_blank" rel="noopener" class="nav-link">
                  <span translate>Privacy</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 text-right text-center-xs">
          <span class="copyright_text text-right text-center-xs">
            <span translate>Invented in Sweden, made with</span>
            <span>
              <img
                src="https://d24ndt2yiijez0.cloudfront.net/uploads/image/asset/16682/Heart-12x12.png"
                height="12px"
                width="12px"
                loading="lazy"
                alt="cpt"
                style="vertical-align: text-bottom"
            /></span>
            <span translate>in Sunny Cape Town.</span>
          </span>
          <div class="ts-social-list">
            <ul>
              <li>
                <a href="{{ 'facebook_URL' | translate }}" target="_blank" rel="noopener" class="tssi-color-grey-500">
                  <img ImageSrc src="../../../../assets/icons/fb-new-icn.svg" alt="fb" />
                </a>
              </li>

              <li>
                <a href="{{ 'twitter_URL' | translate }}" target="_blank" rel="noopener" class="tssi-color-grey-500">
                  <img ImageSrc src="../../../../assets/icons/x-new-icn.svg" alt="twitter" />
                </a>
              </li>

              <li>
                <a href="{{ 'instagram_URL' | translate }}" target="_blank" rel="noopener" class="tssi-color-grey-500">
                  <img ImageSrc src="../../../../assets/icons/insta-new-icn.svg" alt="instagram" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ftr_copy_rights_new">
    <div class="container">
      <div class="row pb-4">
        <div class="col-lg-6 col-sm-12 col-md-12">
          <div class="ts_copy_rights">
            <span translate>Copyright ©</span> <span>{{ getPresentYear() }}</span>
            <span translate>Travelstart Online Travel Operations Pty LTD (2004/016841/07).</span>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12">
          <div class="trust-logos float-right text-center-xs">
            <img
              ImageSrc
              src="../../../../assets/img/trustlogos/trustlogo-footer-iata.png"
              alt="3DSecure"
              width="34"
              loading="lazy"
            />

            <img
              ImageSrc
              src="../../../../assets/img/trustlogos/trustlogo-footer-popia.png"
              alt="3DSecure"
              width="34px"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
