<div class="more-benefits-section container my-5">
  <h2 class="text-center mb-5">More Benefits</h2>
  <div class="row align-items-center">
    
    <div class="col-lg-6 text-center mb-4 mb-lg-0">
      <div class="benefits-img-wrap d-inline-block position-relative">
        <!-- OEM <img src="../../../assets/images/benefits-person.png" alt="Person" class="benefits-person-img img-fluid rounded mb-3 mb-lg-0"> -->
        <img
          ImageSrc
          src="assets/mastercard/images/women-looking-in-phone.png"
          class="benefits-person-img img-fluid rounded mb-3 mb-lg-0"
          alt="More Benefits"
        />
        <!-- OEM <img src="../../../assets/images/benefits-phone-mockup.png" alt="Phone mockup" class="benefits-phone-img position-absolute"> -->
      </div>
    </div>
    
    <div class="col-lg-6">
      <div class="more-benefits-content">
        <div class="mb-3">
          <span class="more-benefits-subtitle">Start Spending<br>Vouchers immediately</span>
        </div>
        <div class="mb-2">
          <span class="more-benefits-amount">R5,000</span>
          <span class="more-benefits-desc d-block">A sum of travel vouchers</span>
        </div>
        <ul class="more-benefits-list list-unstyled mt-4">
          <li><span class="benefit-check">&#10003;</span> 2 x R1,000 international flight vouchers</li>
          <li><span class="benefit-check">&#10003;</span> 2 x R500 domestic flight vouchers</li>
          <li><span class="benefit-check">&#10003;</span> 4 x R500 hotel vouchers</li>
        </ul>
      </div>
    </div>
  </div>
</div>
