<div class="general-usp">
  <div class="container">
    <div class="row flapp-banner">
      <div class="col-12 text-center pt-4 pb-4">
        <div class="bg-image">
          <img
            class="desktop"
            src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/flapp_desktop_790e138ae6.png"
            alt="Flapp. All-in-one travel app"
          />
          <img
            class="mobile"
            src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/flapp_mobile_b83335abba.png"
            alt="Flapp. All-in-one travel app"
          />
        </div>
        <div class="store-logos">
          <span class="logos">
            <a
              href="https://itunes.apple.com/za/app/flapp-air-commuter/id957118897?mt=8"
              rel="noopener"
              target="_blank"
            >
              <img
                src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/app_store_btn_h56_72b690d623.png"
                alt="Flapp. All-in-one travel app"
              />
            </a>
            <a
              href="https://play.google.com/store/apps/details?id=za.co.travelstart.flapp"
              rel="noopener"
              target="_blank"
            >
              <img
                src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/google_play_btn_h56_a6aab59529.png"
                alt="Flapp. All-in-one travel app"
              />
            </a>
            <a
              href="https://appgallery.cloud.huawei.com/marketshare/app/C101506885?locale=en_US&source=appshare&subsource=C101506885"
              rel="noopener"
              target="_blank"
            >
              <img
                src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/app_gallery_store_btn_4220718e97.png"
                alt="Flapp. All-in-one travel app"
              />
            </a>
          </span>
          <span class="text">OR</span>
          <img
            class="flapp-qr"
            src="https://project-alpha-strapi.s3.eu-west-1.amazonaws.com/QR_Flapp_Download_5604c4da7d.png"
            alt="Flapp. All-in-one travel app"
          />
        </div>
      </div>
    </div>

    <div class="row general-usp-cards">
      <div class="general-usp-card">
        <div class="d-flex">
          <div class="general-usp-icon">
            <i class="fa fa-trophy"></i>
          </div>
          <div class="general-usp-content">
            <div class="general-usp-header">
              <h3>Why Book with us?</h3>
            </div>
            <div class="general-usp-text">
              <ul>
                <li>
                  <span class="d-flex align-items-center">
                    <i class="fa fa-check-circle"></i>
                    <span>Best fares from all airlines</span>
                  </span>
                </li>
                <li>
                  <span class="d-flex align-items-center">
                    <i class="fa fa-check-circle"></i>
                    <span>Expert assistance from booking to departure</span>
                  </span>
                </li>

                <li>
                  <span class="d-flex align-items-center">
                    <i class="fa fa-check-circle"></i>
                    <span>Online destinations for planning your travels</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="general-usp-card">
        <div class="d-flex">
          <div class="general-usp-icon">
            <i class="fa fa-plane"></i>
          </div>
          <div class="general-usp-content">
            <div class="general-usp-header">
              <h3>Already booked your flight?</h3>
            </div>
            <div class="general-usp-text">
              <p>Explore our Hotel listings:</p>
              <ul>
                <li>
                  <span class="d-flex align-items-center">
                    <i class="fa fa-check-circle"></i>
                    <span>1000's of options worldwide</span>
                  </span>
                </li>
                <li>
                  <span class="d-flex align-items-center">
                    <i class="fa fa-check-circle"></i>
                    <span>Best price</span>
                  </span>
                </li>

                <li>
                  <span class="d-flex align-items-center">
                    <i class="fa fa-check-circle"></i>
                    <span>Great service</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="general-usp-card">
        <div class="d-flex">
          <div class="general-usp-icon">
            <i class="fa fa-headphones"></i>
          </div>
          <div class="general-usp-content">
            <div class="general-usp-header">
              <h3>Personalised Assistance</h3>
            </div>
            <div class="general-usp-text">
              <p>
                Need help with your booking? Contact our expert Travelstart live agents for guidance and booking
                assistance.
              </p>
              <a (click)="followLink('/contact-us')" class="btn">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
