<div class="back-button-section">
<div class="back-button-header">
  <img
    *ngIf="!hideArrow"
    class="back-button-header__btn"
    ImageSrc
    [src]="
      isTextWhite
        ? './../../../../assets/icons/left-short-arrow-white.svg'
        : './../../../../assets/icons/left-short-arrow.svg'
    "
    alt="back"
    (click)="goBack()"
  />
  <div
    class="back-button-header__content"
    [ngClass]="{ 'text-white': isTextWhite, 'no-arrow': hideArrow }"
    (click)="goBack()"
  >
    <ng-content></ng-content>
  </div>
</div>
</div>

