<div class="concierge-support-section container my-5">
  <div class="row align-items-center">
    
    <div class="col-lg-6 text-center mb-4 mb-lg-0 position-relative">
      <div class="concierge-img-overlay-wrap">
        <div class="concierge-img-wrap d-inline-block">
          <img
            ImageSrc
            src="assets/mastercard/images/super-girl.png"
            class="concierge-img img-fluid rounded"
            alt="Concierge"
          />
        </div>
        <div class="chat-overlay-box">
          <div class="chat-title">Chat with us</div>
          <div class="chat-subtitle">Hi there</div>
          <div class="chat-desc">Need help? Search our help center for answers or start conversation</div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-6">
      <div class="concierge-support-content">
        <div class="support-feature mb-4 d-flex align-items-start">
          <span class="support-icon mr-3">
            <i class="material-icons" style="font-size:2rem;vertical-align:middle;">
              <img
                ImageSrc
                src="assets/icons/head-phone-withdot.svg"
                
                width="30"
                alt="head-phone"
              />
            </i>
          </span>
          <div>
            <div class="support-title">24/7 Concierge Support</div>
            <div class="support-desc">Enjoy hassle-free travel and get in touch at any hour for assistance with your bookings.</div>
          </div>
        </div>
        <div class="support-feature d-flex align-items-start">
          <span class="support-icon mr-3">
            <i class="material-icons" style="font-size:2rem;vertical-align:middle;">
              <img
                ImageSrc
                src="assets/icons/ai_circle_stars.svg"
                
                width="30"
                alt="ai_circle_stars"
              />
            </i>
          </span>
          <div>
            <div class="support-title">AI Travel Assistant</div>
            <div class="support-desc">Ask our AI travel assistant anything. Get itineraries or learn more about your destination.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
