@import "./../../../../theme/theme-variables.scss";
.mc_terms_conditions {
  padding: 30px 0px;
  color: $color-neutral-900;
  h6 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  ul {
    font-size: 14px;
    display: inline-block;
    li {
      padding: 5px;
      line-height: 18px;
      text-align: -webkit-auto;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .mc_terms_conditions {
    padding: 20px 0px;
    h6 {
      font-size: 18px !important;
    }
    ul {
      padding: 10px !important;
    }
  }
}
