@import "./../../../../theme/theme-variables.scss";
.mc_terms_conditions {
  padding: 20px 0px;
  color: $color-neutral-900;
  .headingTxt {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  .conditionsList{
    .headTxt{
          font-size: 16px;
          color: var(--text_primary_color);
          font-weight: 500;
          margin: 5px 0px;
      }
    }
  
  ul {
    display: inline-block;
    li {
      font-size: 14px;
      padding: 5px;
      line-height: 18px;
      text-align: -webkit-auto;
      display: flex;
      align-items: baseline;
      .bulletDot::before {
          content: "";
          height: 6px;
          width: 6px;
          border: 1px solid #475467;
          border-radius: 50%;
          background-color: #fff;
          display: block;
          margin-right: 8px;
        }
    }

  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .mc_terms_conditions {
    padding: 10px 0px;
    h6 {
      font-size: 18px !important;
    }
    ul {
      padding: 5px !important;
    }
  }
}
