<div class="container">
  <div class="mc_terms_conditions">
    <h6>Terms and Conditions</h6>
    <ul>
      <li>
        All cardholders of a Mastercard Gold, Platinum, World and World Elite card (“eligible cards”) can book through
        the exclusive and dedicated Mastercard promotion page on the Travelstart website. Flight searches need to be
        made on the dedicated landing page to unlock discounted fares.
      </li>
      <li>
        Eligible cardholders can make use of this offer for the duration of the Travelstart and Mastercard partnership.
      </li>
      <li>
        Mastercard World Elite, World, Gold and Platinum cardholders are prohibited from sharing this website link with
        their network.
      </li>
      <li>
        Only flight tickets paid for using a Mastercard eligible card will qualify for the discount which is applied on
        base fares only, on return flights only. The discount applies to each booking and excludes the airport tax and
        fuel surcharge component of the fare, service charges, product fees, etc.
      </li>
      <li>
        No discount shall be applied for purchases from affiliates, retailers, or through any other booking channel.
      </li>
      <li>
        Discounts are available dependant on supplier availability at the time of booking and at the discretion of the
        supplier, based on routes and booking class.
      </li>
      <li>
        No discount shall be applied for purchases made with an alternative payment method such as cash or bank
        transfer/EFT.
      </li>
      <li>
        Any queries regarding your flight booking must be escalated to Travelstart directly and not to Mastercard.
        Please contact Travelstart first via our Contact Us page.
      </li>
      <li>
        By making use of this offering you agree to the standard terms and conditions of use of the Travelstart website.
      </li>
      <li>
        Blackout dates, where the discount will not be available, for example during Travelstart’s Birthday and Black
        Friday sales may apply.
      </li>
      <li>
        Mastercard eligible cardholder’s name used to pay for the tickets must match the name of at least one of the
        passengers flying.
      </li>
      <li>
        All cardholders of Mastercard Gold, Platinum, World and World Elite cards are eligible to receive an additional
        discount on hotel bookings, which may be up to 10% off on selected suppliers and/or dates.
      </li>
      <li>
        Hotel searches and subsequent bookings need to be made on the dedicated landing page to unlock discounted fares.
        To unlock your hotel discount use voucher code "MCTRAVEL" at checkout.
      </li>
      <li>Travelstart reserves the right to withdraw or amend this offer at any time and without notice.</li>
    </ul>
  </div>
</div>
