<div class="ts-plus-bg renewal_page">
  <div class="container">
    <app-ts-plus-head></app-ts-plus-head>
    <div class="upgrade_benefits text-center">
      <div class="col-md-12 travel_world">
        <img
          ImageSrc
          src="../../../assets/images/ts-plus-images/ts-plus-logo-landing-page.png"
          class="mr-4"
          alt="ts_logo"
        />
        <h4><span class="link_styl">Renew</span> your Travelstart+ Membership for</h4>
        <div class="sub_amt">
          <h6>R0,00</h6>
        </div>
        <p class="mt-0 mb-4">
          A free year to enjoy your travel vouchers, 24/7 concierge, member-only deals and so much more!
        </p>
      </div>
      <div class="mb-4">
        <div class="bill">Card details are required but no charge will be made.</div>
      </div>
      <div class="p_m mb-2">So go ahead,</div>
      <button type="button" aria-label="Upgrade Now" (click)="tsPayments()">Renew for FREE</button>
    </div>
  </div>
</div>
