
  <div class="modal-dialog payment_error_dialog" role="document">
    <div class="modal-content dialog_content">
        <div class="modal-body">
               <div class="user_subscribe">
                <div class="subscribe_txt mt-3">
                    <h6>Already Subscribed!</h6>
                    <p>You're already a member of travelstart+</p>
                </div>
                <div class="subscription_txt">
                    Since this email is already linked to a travelstart+
                    subscription, there's no need to request a new subscription.
                </div>
                <button type="button" aria-label="Continue" class="btn ok-btn mt-4 text-center primary_btn" data-dismiss="modal" (click)="goToHome()">
                    <span translate>OK</span>
                  </button>
               </div>
               
          </div>
    </div>
  </div>
  
  