<div class="err_page text-center">
  <div class="container">
    <div class="sec_img">
      <img
        ImageSrc
        src="./../../../../assets/icons/Icon/Negative-scenarios/page_not_found_404_icon.svg"
        alt="server Error"
      />
    </div>
    <div class="err_msg">
      <h4 translate>Page not found</h4>
    </div>
    <button type="button" class="btn home-btn primary_btn" data-dismiss="modal" (click)="filght_search_page()">
      <span translate>Return home page</span>
    </button>
  </div>
</div>
