<div class="modal-dialog payment_error_dialog" role="document">
  <div class="modal-content dialog_content">
    <div class="modal-body consistent-modal-body">
      <div class="text-center">
        <img
          ImageSrc
          class="w-mob-set consistent-modal-icon"
          src="./../../../../assets/icons/Icon/Negative-scenarios/something_was_not_right.svg"
          alt="Flight not available"
          loading="lazy"
        />
        <div translate class="consistent-header-txt" translate>Some thing went wrong.</div>
        <div class="modal-btn-container">
          <button
              type="button"
              translate
              aria-label="Go Back to Search Results"
              class="btn ok-btn primary_btn"
              data-dismiss="modal"
              (click)="flight_results()">
              Go Back to Search Results
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
