<app-header></app-header>
<div class="travel_restrictions">
  <div class="textHead"></div>
  <div class="container">
    <div class="row">
      <div class="travel_restrictions_head ml-4 ml-md-0">
        <div translate class="travel_head_1">TRAVEL REQUIREMENTS &</div>
        <div translate class="travel_head_2">ENTRY RESTRICTIONS</div>
        <div class="travel_desc_wrapper mt-3">
          <div translate class="travel_desc_1">Get real-time information on travel restrictions,</div>

          <div translate class="travel_desc_2">COVID-19 testing requirements and quarantine measures.</div>
        </div>
        <div></div>
      </div>
    </div>
  </div>

  <div class="restrictions_txt mt-4">
    <div class="container p-0">
      <h6 translate>
        Whether it be for business or pleasure the one thing we can be certain about is our unwavering passion to
        travel. The world, however, is changing at a rapid pace, bringing with it a level of uncertainty around travel
        restrictions, entry requirements or quarantine regulations. We’ve partnered with our friends, Sherpa - our
        partner in all things Travel Rules and Restrictions, providing us with a tool that gives us real-time
        information on travel restrictions, COVID-19 testing requirements and quarantine measures.
      </h6>
    </div>
  </div>

  <div class="shipraTrip">
    <div class="container p-0">
      <div id="sherpa-trip-element"></div>
    </div>
  </div>

  <div class="restrictions_txt pt-0">
    <div class="container p-0">
      <h6 translate>
        Sherpa gives their customers the confidence to plan, book and travel at ease. Expect personalized information,
        notifications of potential trip disruptions such as increased border restrictions and new testing and quarantine
        measures throughout the customer journey.
      </h6>
      <h6 class="mt-4 mb-1 disclaim_txt" translate>DISCLAIMER:</h6>
      <h6>
        The tool is provided by Sherpa, a third party. All information provided by the tool should therefore be verified
        by an official government source or site. Travelstart will not be held responsible should the information
        provided be deemed as inaccurate.
      </h6>
      <h6>
        By using this tool, you acknowledge you've read this note and agree to our Terms & Conditions and Privacy &
        Cookie Statement (links below).
      </h6>
    </div>
  </div>
</div>

<app-footer></app-footer>
