.results_overview {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  padding: 1rem;
}

.results_overview__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results_overview__title {
  margin: 0;
  padding: 0;

  /* Typography */
  font-family: var(--heading_font_family);
  font-size: var(--heading_font_size, 18px);
  font-weight: 400;
  line-height: 1rem;
}

.results_overview__route {
  display: block;
  align-items: center;

  /* Spacing */
  padding: 0.3rem 0.5rem;

  /* Colour */
  background-color: var(--secondary_Body_bg);

  /* Shape */
  border-radius: 0.375rem; /* 6px */

  /* Typography */
  font-family: var(--label_font_family);
  font-size: var(--label_font_size_xs, 12px);
  font-weight: 400;
  line-height: 1rem;
}

.results_overview__direction_icon {
  font-size: 1rem;
}

.results_overview__details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  /* Colour */
  color: var(--label_color);

  /* Typography */
  font-family: var(--label_font_family);
  font-size: var(--label_font_size, 12px);
  font-weight: 400;
  line-height: 1rem;
}

.results_overview__info {
  display: flex;
  align-items: center;
}

.results_overview__separator {
  margin: 0 0.25rem;
}

