<div class="fare_info" *ngIf="pricedResult_data">
  <!-- <div class="tripType">
    <span translate class="sec_heading">Price details</span>
    <hr class="p-0 mt-2 mb-2" />
  </div> -->

  <div class="price_breakup">
    <div
      class="fares"
      [ngClass]="responseService.screenWidth === 'sm' || responseService.screenWidth === 'md' ? 'collapse show' : 'web'"
      id="viewpriceBreakdown"
    >
      <div class="tripType mb-2">
        <span translate class="sec_heading">Price details</span>
        <span class="float-right d-lg-none d-block">
          <img
            class="close-icn"
            ImageSrc
            [src]="region === 'ABSA' || region === 'SB' ? '../../../assets/icons/srp_Icons/close-icn-new-all.svg' : '../../assets/icons/close_cross_icn.svg'"
            width="12px"
            data-toggle="collapse"
            data-target="#viewpriceBreakdownData"
            alt="cross"
            loading="lazy"
          />
        </span>
      </div>
      <table class="table" aria-describedby="fares">
        <tr *ngIf="pricedResult_data && pricedResult_data.fareBreakdown && pricedResult_data.fareBreakdown.adults">
          <th id="AD" class="tableData">
            {{ getPassengersType(pricedResult_data.fareBreakdown.adults.qty, 'adult') }} x
            {{ pricedResult_data.fareBreakdown.adults.qty }}
          </th>
          <td id="AD" class="tableData">
            {{ pricedResult_data.currencyCode | currencyCode
            }}{{ pricedResult_data.fareBreakdown.adults.baseFare | number: '1.2-2' }}
          </td>
        </tr>
        <tr *ngIf="pricedResult_data && pricedResult_data.fareBreakdown && pricedResult_data.fareBreakdown.youngAdults">
          <th id="YTH" class="tableData">
            {{ getPassengersType(pricedResult_data.fareBreakdown.youngAdults.qty, 'youngAdults') }} x
            {{ pricedResult_data.fareBreakdown.youngAdults.qty }}
          </th>
          <td class="tableData">
            {{ pricedResult_data.currencyCode | currencyCode
            }}{{ pricedResult_data.fareBreakdown.youngAdults.baseFare | number: '1.2-2' }}
          </td>
        </tr>
        <tr *ngIf="pricedResult_data && pricedResult_data.fareBreakdown && pricedResult_data.fareBreakdown.children">
          <th id="CH" class="tableData">Children x {{ pricedResult_data.fareBreakdown.children.qty }}</th>
          <td class="tableData">
            {{ pricedResult_data.currencyCode | currencyCode
            }}{{ pricedResult_data.fareBreakdown.children.baseFare | number: '1.2-2' }}
          </td>
        </tr>
        <tr *ngIf="pricedResult_data && pricedResult_data.fareBreakdown && pricedResult_data.fareBreakdown.infants">
          <th id="INF" class="tableData">
            {{ getPassengersType(pricedResult_data.fareBreakdown.infants.qty, 'infant') }} x
            {{ pricedResult_data.fareBreakdown.infants.qty }}
          </th>
          <td class="tableData">
            {{ pricedResult_data.currencyCode | currencyCode
            }}{{ pricedResult_data.fareBreakdown.infants.baseFare | number: '1.2-2' }}
          </td>
        </tr>
        <tr>
          <th translate id="tax" class="tableData">Taxes & Fees</th>
          <td
            class="tableData"
            *ngIf="pricedResult_data && pricedResult_data.fareBreakdown && pricedResult_data.fareBreakdown.taxAmount"
          >
            {{ pricedResult_data.currencyCode | currencyCode
            }}{{
              getTaxFees(pricedResult_data.fareBreakdown, pricedResult_data.fareBreakdown.taxAmount) | number: '1.2-2'
            }}
          </td>
        </tr>
        <tr *ngIf="region !== 'SB' && pricedResult_data?.fareBreakdown?.discountAmount < 0 || voucherDiscount()">
          <th translate id="savingAmount" class="savingAmountTxt">Saving Amount</th>
          <td class="tableData">
            -{{ pricedResult_data.currencyCode | currencyCode
            }}{{ getMinusVal(pricedResult_data?.fareBreakdown?.discountAmount) | number: '1.2-2' }}
          </td>
        </tr>
        <tr *ngIf="showAddons() && region !== 'SB'" class="totalFlightPrice">
          <th translate class="tableData">Total Flight Price</th>
          <td
            class="tableData"
            *ngIf="pricedResult_data && pricedResult_data.fareBreakdown && pricedResult_data.fareBreakdown.taxAmount"
          >
            {{ pricedResult_data.currencyCode | currencyCode
            }}{{ getTotalFlightPrice(pricedResult_data.fareBreakdown) | number: '1.2-2' }}
          </td>
        </tr>
        <tr *ngIf="hasPermissionToEditFlightPrice()">
          <th translate id="additionalmarkup" class="tableData">Additional markup</th>
          <td class="tableData">
            {{ pricedResult_data.currencyCode | currencyCode
            }}{{ pricedResult_data.additionalMarkup | currency: '' + ' ' + ' ':'symbol':'2.0' }}
          </td>
        </tr>
        <tr *ngIf="hasPermissionToEditFlightPrice()">
          <th translate id="discount" class="tableData">
            Discount
            <span>
              <img
                ImageSrc
                (click)="editPriceHandler()"
                class="edit_icon"
                src="../../../assets/icons/b2b_icons/edit-black.svg"
                alt="edit-icon"
              />
            </span>
          </th>
          <td class="tableData">
            {{ pricedResult_data.currencyCode | currencyCode
            }}{{ pricedResult_data.dynamicDiscount | currency: '' + ' ' + ' ':'symbol':'2.0' }}
          </td>
        </tr>
      </table>

      <div class="total_amt" *ngIf="showAddons()">
        <div>
          <hr class="p-0 mt-2 mb-2" />
          <label for="Add-ons" class="selcted_adons" translate>Add-ons</label>
        </div>
      </div>

      <div
        class="products_selected"
        [ngClass]="
          responseService.screenWidth !== 'sm' && responseService.screenWidth !== 'md' ? 'collapse show' : 'mweb'
        "
        id="products"
      >
        <table
          *ngIf="(pricedResult_data && pricedResult_data.products) || showAddons()"
          class="table"
          aria-describedby="fares"
        >
          <tr *ngFor="let product of products; let idx = index">
            <th class="tableData" id="{{ product.id }}" *ngIf="productInitSelect(product, product.initSelected)">
              {{ product.name }}
            </th>
            <td class="tableData" *ngIf="productInitSelect(product, product.initSelected)">
              {{ product.currencyCode | currencyCode }}{{ product.amount | number: '1.2-2' }}
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="showOtherServices()" class="total_amt">
        <hr *ngIf="showOtherServices()" class="p-0 mt-2 mb-2" />
        <label class="selcted_adons" translate>Other services</label>
        <div
          class="products_selected"
          [ngClass]="
            responseService.screenWidth !== 'sm' && responseService.screenWidth !== 'md' ? 'collapse show' : 'mweb'
          "
          id="products"
        >
          <table class="table" aria-describedby="fares">
            <tr *ngIf="voucherAmount">
              <th class="voucher tableData" translate id="Voucher Amount">Voucher Amount</th>
              <td class="voucher tableData">-{{ pricedResult_data.currencyCode | currencyCode }}{{ voucherAmount }}</td>
            </tr>
            <tr *ngIf="baggageFee">
              <th translate id="fees" class="tableData">Baggage Amount</th>
              <td class="tableData">
                {{ pricedResult_data.currencyCode | currencyCode }}{{ baggageFee | number: '1.2-2' }}
              </td>
            </tr>
            <tr *ngIf="seatTotalCost">
              <th translate id="seatTotalCost" class="tableData">Seats</th>
              <td class="tableData">
                {{ pricedResult_data.currencyCode | currencyCode }}{{ seatTotalCost | number: '1.2-2' }}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- Total price with discounts -->
      <div *ngIf="discounts?.availableDiscounts[0]?.amount && discounts?.availableDiscounts[0] as discount" class="discounts">
        <hr class="p-0 mt-2 mb-2" />
        <div
          class="products_selected"
          [ngClass]="
            responseService.screenWidth !== 'sm' && responseService.screenWidth !== 'md' ? 'collapse show' : 'mweb'
          "
          id="discounts"
        >
          <table class="table" aria-describedby="fares">
            <tr>
              <th class="discount_total tableData" translate id="Total Price">Total Price</th>
              <td class="discount_total tableData">
                {{ pricedResult_data.currencyCode | currencyCode }}{{ getTotalPrice(pricedResult_data.currencyCode, pricedResult_data.totalAmount, products, baggageFee)
                  | number: '1.2-2'
                }}
              </td>
            </tr>
            <tr>
              <th class="discount_amt tableData" translate id="Total Discount">{{ discountLabel }}</th>
              <td class="discount_amt tableData">
                -{{ pricedResult_data.currencyCode | currencyCode }}{{ getMinusVal(discount.amount) | number: '1.2-2' }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- <div class="total_amt d-block d-md-none">
      <div class="row">
        <div class="col-5">
          <label translate class="labl">TOTAL PRICE</label>
          <div class="clearfix"></div>
          <label class="amt">
            <span class="total">
              <span
                >{{ pricedResult_data.currencyCode | currencyCode
                }}{{
                  getTotalPrice(pricedResult_data.currencyCode, pricedResult_data.totalAmount, products, baggageFee) | number : '1.2-2'
                }}</span
              >
            </span>
          </label>
        </div>
        <div class="col-7">
          <button type="button" class="btn btn-primary w-100 float-right" >
             (click)="proceedToPaymet()" <i class="fa fa-spinner fa-spin" style="font-size: 24px" [hidden]="!isLoading" aria-hidden="true"></i> -->
    <!-- Proceed To Payment
            <span *ngIf="this.isShowItineraryDetails" translate>View Payment Options</span>
            <span *ngIf="!this.isShowItineraryDetails" translate>Next</span>
          </button>
          <span class="clearfix"></span>
            <a *ngIf="showAddons()" translate class="link float-right mt-2" (click)="showAngleIcon('viewPricelink')" data-toggle="collapse" data-target="#priceBreakdown">Hide price breakdown</a>
        </div>
      </div>
    </div> -->

    <!-- Total price (desktop layout) -->
    <div class="total_amt d-none d-lg-block">
      <label for="Total Price" *ngIf="showAddons()" translate class="price_with_addons">
        <span class="price">Total Price</span>
        <div class="price_addOns d-none">Including Add-ons</div>
      </label>
      <label for="Total Price" *ngIf="!showAddons()" translate class="labl">Total Price</label>
      <label class="amt">
        <div class="clearfix"></div>
        <span class="total mt-2">
          <span
            >{{ pricedResult_data.currencyCode | currencyCode
            }}{{
              getTotalPrice(pricedResult_data.currencyCode, pricedResult_data.totalAmount, products, baggageFee)
                | currency: '' + ' ':'symbol':'2.0'
            }}</span
          >
        </span>
        <span class="clearfix"></span>
        <div class="d-none">
          <a
            *ngIf="showAddons() && showDownIcon"
            translate
            class="link"
            rel="nofollow"
            (click)="showAngleIcon('viewPricelink')"
            data-toggle="collapse"
            data-target="#products"
            >Hide price breakdown</a
          >
          <a
            *ngIf="showAddons() && showUpIcon"
            translate
            class="link"
            rel="nofollow"
            (click)="showAngleIcon('viewPricelink')"
            data-toggle="collapse"
            data-target="#products"
            >View price breakdown</a
          >
        </div>
      </label>
    </div>

    <!--Web GFS data tracking-->
    <table
      id="bookingSummaryPriceTotal"
      style="visibility: hidden; height: 0px; line-height: 0"
      title="This table displays the total price of the booking."
    >
      <tr>
        <th id="book_summ"></th>
        <td class="booking-summary__price--total">
          <span
            >{{ pricedResult_data.currencyCode | currencyCode
            }}{{
              getTotalPrice(pricedResult_data.currencyCode, pricedResult_data.totalAmount, products, baggageFee)
                | currency: '' + ' ':'symbol':'2.0'
            }}</span
          >
        </td>
      </tr>
    </table>

    <p *ngIf="apiService.extractCountryFromDomain() === 'IB'" class="charges_txt">
      Price includes <span *ngIf="flightResultsList.isIntl">an International</span>
      <span *ngIf="!flightResultsList.isIntl">a domestic</span> booking fee of
      {{ pricedResult_data.currencyCode | currencyCode }}<span *ngIf="!flightResultsList.isIntl">95</span
      ><span *ngIf="flightResultsList.isIntl">200</span> per person.
    </p>
  </div>
</div>
