

<div class="ts_plus_bg">
    <div class="container">
      <app-ts-plus-head></app-ts-plus-head>
        <div class="ts_plus_congs text-center">
            <div class="row">
                <div class="col-12 congs_content">
                        <div class="exp_ts_plus">
                            <h5>
                                <span>Welcome to </span> <img ImageSrc
                                        src="../../../assets/images/ts-plus-images/tsplus-small.svg"
                                        alt="ts_logo">
                            </h5>
                            <h6 class="pt-2">How to start using travelstart+</h6>
                            <div>
                              <ul class="exp_ts_app mt-2">
                                <li>
                                  Download the travelstart App if you don’t already have it
                                </li>
                                <li>
                                  Sign into the App using your email address and password
                                </li>
                                <li>
                                  Enjoy life in the world of travelstart+
                                </li>
                              </ul>
                            </div>
                        </div>

                         



                        <div class="text-center mt-4 col-lg-12 social_links">
                          <p>DOWNLOAD OUR APP</p>
                            <div class="down_link mt-4 mb-3">
                                <div class="d-block d-lg-flex align-items-center">
                                  <div class="social_btns">
                                    <ul class="p-0">
                                      <li>
                                        <a  href="{{ 'download_on_apple' | translate }}" target="_blank" rel="noopener">
                                          <img
                                            class="store_img d-none d-lg-block"
                                            ImageSrc
                                            src="https://cdn1.travelstart.com/assets/icons/app_store_ios.svg"
                                            alt="app_store_ios"
                                            loading="lazy"
                                            height="54px"
                                        />
                                        <img ImageSrc
                                        class="store_img  d-inline d-lg-none pr-1"
                                        src="./../../../../assets/icons/mweb_app_store.svg"
                                        alt="mweb_app_store"
                                        loading="lazy"
                                    />
                                      </a>
                                      </li>
                                      <li class="float-md-right float-lg-none">
                                        <a href="{{ 'download_on_google_play' | translate }}" target="_blank" rel="noopener" target="_blank" rel="noopener">
                                          <img
                                            ImageSrc
                                            class="store_img  d-none d-lg-block"
                                            src="https://cdn1.travelstart.com/assets/icons/play_store_and.svg"
                                            alt="play_store_and"
                                            loading="lazy"
                                            height="54px"
                                          />
                                          <img
                                          ImageSrc
                                            class="store_img  d-inline d-lg-none pr-1"
                                            src="./../../../../assets/icons/mweb_play_store.svg"
                                            alt="mweb_play_store"
                                            loading="lazy"
                                          />
                                        </a>
                                      </li>
                                      <li>
                                        <a href="{{ 'huawei_appgallery' | translate }}" target="_blank" rel="noopener">
                                          <img
                                            ImageSrc
                                            class="store_img d-none d-lg-block"
                                            src="https://cdn1.travelstart.com/assets/images/huawei_app_gallery.svg"
                                            alt="huawei_app_gallery"
                                            loading="lazy"
                                            height="54px"
                                          />
                                          <img
                                            class="store_img d-inline d-lg-none"
                                            src="../../../../assets/icons/mweb_huawei.svg"
                                            alt="mweb_huawei"
                                            loading="lazy"
                                          />
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="text-center mx-3 d-none d-lg-block">
                                      <span translate class="ordiv">OR</span>
                                  </div>
                                  <div class="d-none d-lg-block mb-3">
                                    <img ImageSrc
                                      class="qrcode_img"
                                      width="150px"
                                      src="./../../../../assets/images/scan-new-img.png"
                                      alt="scan-new-img"
                                      loading="lazy"
                                    />
                                  </div>
                                </div>
                          </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="success_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog payment_error_dialog" role="document">
    <div class="modal-content dialog_content">
     <div class="close_icn">
      <img src="https://cdn1.travelstart.com/assets/icons/close_cross_icn.svg" data-dismiss="modal" width="18px" alt="close" class="float-right">
     </div>
      <div class="modal-body">
        <div class="text-center">
          <img ImageSrc
          src="../../../assets/images/ts-plus-images/ts_plus_sccss.svg"
          alt="congs" loading="lazy" />
          <div class="success_txt mt-3">
            <h6>Congratulations!</h6>
            <p>Your subscription has been successfully processed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


