<div class="faq">
  <div class="faqNav">
    <ul>
      <li>
        <a href="{{ 'bookings_link' | translate }}" target="_blank" rel="noopener"
          ><img ImageSrc [src]="tsCountry === 'ABSA' ? './../../assets/icons/absa_icons/empty-ellipse.svg' : './../../assets/icons/Icon/Travel/passport (1).svg'" alt="passport" loading="lazy" />
          <span translate>Bookings</span>
          <i class="fa fa-angle-right" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="{{ 'bookings_link' | translate }}" target="_blank" rel="noopener"
          ><img ImageSrc [src]="tsCountry === 'ABSA' ? './../../assets/icons/absa_icons/empty-ellipse.svg' : './../../assets/icons/Icon/Travel/credit-card (1).svg'" alt="Payment" loading="lazy" />
          <span translate>Payments</span>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="{{ 'bookings_link' | translate }}" target="_blank" rel="noopener"
          ><img ImageSrc [src]="tsCountry === 'ABSA' ? './../../assets/icons/absa_icons/empty-ellipse.svg' : './../../assets/icons/Icon/Travel/plane-ticket.svg'" alt="Ticket" loading="lazy" />
          <span translate>Tickets</span>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="{{ 'bookings_link' | translate }}" target="_blank" rel="noopener"
          ><img ImageSrc [src]="tsCountry === 'ABSA' ? './../../assets/icons/absa_icons/empty-ellipse.svg' : './../../assets/icons/Icon/Travel/faq_products.svg'" alt="passport" loading="lazy" />
          <span translate>Products</span>
          <i class="fa fa-angle-right" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="{{ 'bookings_link' | translate }}" target="_blank" rel="noopener"
          ><img
            ImageSrc
            [src]="tsCountry === 'ABSA' ? './../../assets/icons/absa_icons/empty-ellipse.svg' : './../../assets/icons/Icon/Travel/changes_cancellation.svg'"
            alt="passport"
            loading="lazy"
          />
          <span translate>Changes / Cancellation</span>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="{{ 'bookings_link' | translate }}" target="_blank" rel="noopener"
          ><img ImageSrc [src]="tsCountry === 'ABSA' ? './../../assets/icons/absa_icons/empty-ellipse.svg' : './../../assets/icons/Icon/Travel/useful_information.svg'" alt="passport" />
          <span translate>Useful information</span>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
