<div class="hotel_deals">
  <div class="sec_heading">
    <h3><span>Exclusive deals </span>- R150 off any accommodation booking</h3>
    <label class="sec_caption">Offer Expires 26 Mar 2021:R150 off any accommodation using code - NG08537457</label>
  </div>
  <ul class="mt-3">
    <li>
      <div class="card">
        <div class="card-body">
          <img ImageSrc src="./../../../../assets/images/hotel_img.jpg" alt="hotel_img" />
          <label class="mt-2">
            <span class="rating"><i class="fa fa-star" aria-hidden="true"></i> 4.2 </span>
            <span class="review">Reviews.92</span>
          </label>
          <label class="hotelname">Cozy studio located in midto...</label>
          <label>
            <span class="price">R1,729 / <span>night</span></span>
            <span class="float-right"
              ><button type="button" class="btn btn-primary">
                <img ImageSrc src="./../../../../assets/icons/Path 27125.svg" alt="visit" /></button
            ></span>
          </label>
        </div>
      </div>
    </li>
    <li>
      <div class="card">
        <div class="card-body">
          <img ImageSrc src="./../../../../assets/images/hotel_img.jpg" alt="hotel_img" />
          <label class="mt-2">
            <span class="rating"><i class="fa fa-star" aria-hidden="true"></i> 4.3 </span>
            <span class="review">Reviews.76</span>
          </label>
          <label class="hotelname">The Robberg Beach Lodge</label>
          <label>
            <span class="price">R1,800 / <span>night</span></span>
            <span class="float-right"
              ><button type="button" class="btn btn-primary">
                <img ImageSrc src="./../../../../assets/icons/Path 27125.svg" alt="visit" /></button
            ></span>
          </label>
        </div>
      </div>
    </li>
    <li>
      <div class="card">
        <div class="card-body">
          <img ImageSrc src="./../../../../assets/images/hotel_img.jpg" alt="hotel_img" />
          <label class="mt-2">
            <span class="rating"><i class="fa fa-star" aria-hidden="true"></i> 4.0 </span>
            <span class="review">Reviews.116</span>
          </label>
          <label class="hotelname">Protea Hotel by Marriott</label>
          <label>
            <span class="price">R1,919 / <span>night</span></span>
            <span class="float-right"
              ><button type="button" class="btn btn-primary">
                <img ImageSrc src="./../../../../assets/icons/Path 27125.svg" alt="visit" /></button
            ></span>
          </label>
        </div>
      </div>
    </li>
    <li>
      <div class="card">
        <div class="card-body">
          <img ImageSrc src="./../../../../assets/images/hotel_img.jpg" alt="hotel_img" />
          <label class="mt-2">
            <span class="rating"><i class="fa fa-star" aria-hidden="true"></i> 3.9 </span>
            <span class="review">Reviews.28</span>
          </label>
          <label class="hotelname">Sky Villa Boutique</label>
          <label>
            <span class="price">R1,200 / <span>night</span></span>
            <span class="float-right"
              ><button type="button" class="btn btn-primary">
                <img ImageSrc src="./../../../../assets/icons/Path 27125.svg" alt="visit" /></button
            ></span>
          </label>
        </div>
      </div>
    </li>
  </ul>
</div>
