@import "./../../../theme/theme-variables.scss";


.content{
    font-size: 12px;
    line-height: 12px;
    .promo_content{
      background-color: var(--layover_bg_color);
      padding: 5px 15px;
      border-radius: 100px;
      color: #B54708;
      .info{
        position: relative;
        top: -1px;
      }
    }
    .master_card_disc_txt{
      color: #33A881;
    }
  }
  .domFlight{
   .promo_content{
      padding: 5px 10px;
      font-size: 11px;
     }
  }
  @media (max-width: map-get($grid-breakpoints, lg)) {
    .content{
      font-size: 10px;
    }
    .promo_content{
      display: flex;
    }
  }
