@import "./../../../theme/theme-variables.scss";
@import "bootstrap/scss/mixins/_breakpoints";
.reserPwdsec {
  h5 {
    font-weight: 600;
  }
  .sub_btn {
    padding: 5px 42%;
    border-radius: 3px;
  }
  .ok_btn {
    padding: 5px 10%;
    border-radius: 3px;
  }
  .errorMsg {
    color: #f51b46;
    line-height: 1em;
    font-size: 14px;
    font-weight: 500;
  }
  .resetSec {
    p {
      font-size: 13px;
      color: #7d8495;
    }
    .control-label {
      font-size: 13px;
      color: #7d8495;
    }
    .validation_msg {
      font-size: 12px;
      padding: 4px;
      background: #fee8ec;
      color: #f51b46;
      line-height: 1em;
    }
    .showEye {
      position: relative;
      bottom: 37px;
      float: right;
      right: 9px;
      color: $color-neutral-200;
    }
  }
}
