<div class="reserPwdsec">
  <div class="resetSec" *ngIf="showPwdReset">
    <h5>Reset password</h5>
    <p>
      Please choose and confirm a password for your account. The password should be at least 6 characters long and
      contain 1 letter, 1 number and a special character.
    </p>
    <div>
      <form class="mb-2 mb-xs-0" [formGroup]="pwdResetForm">
        <div class="row pt-2">
          <div class="col-12">
            <label style="line-height: 1.5em" class="form-field d-block">
              <span translate class="control-label">Password</span>
              <input
                [type]="showEyePassIcon ? 'password' : 'text'"
                #signUpPassword
                class="form-control"
                formControlName="password"
                autocomplete="password"
              />
              <a class="showEye">
                <i
                  aria-hidden="true"
                  [ngClass]="[showEyePassIcon == true ? 'fa fa-eye-slash' : 'fa fa-eye']"
                  (click)="showPwd()"
                ></i>
              </a>
              <div *ngIf="submitted && form.password.errors">
                <div translate class="validation_msg" *ngIf="submitted && form.password.errors.required">
                  Password is required.
                </div>
                <div translate class="validation_msg" *ngIf="submitted && form.password.errors.pattern">
                  Invalid Password.
                </div>
              </div>
            </label>
          </div>
          <!-- if we need to add confirm password -->
          <!-- <div class="col-12">
                            <label style="line-height: 1.5em" class="form-field d-block">
                              <span translate class="control-label"> Confirm Password</span>
                              <input
                                [type]="showEyeConfPassIcon ? 'password' : 'text'"
                                #signUpPassword
                                class="form-control"
                                formControlName="confirmpassword"
                                autocomplete="password"
                              />
                              <div class="showEye">
                                <i
                                  aria-hidden="true"
                                  [ngClass]="[showEyeConfPassIcon == true ? 'fa fa-eye-slash' : 'fa fa-eye']"
                                  (click)="showconfirmPwd()"
                                ></i>
                              </div>
                              <div *ngIf="submitted && form.confirmpassword.errors">
                                <div
                                  translate
                                  class="signUp_validation_msg"
                                  *ngIf="submitted && form.confirmpassword.errors.required"
                                >
                                  Confirm Password is required.
                                </div>
                                <div translate class="signUp_validation_msg" *ngIf="submitted && form.confirmpassword.errors.pattern">
                                    Passwords didn’t match
                                  </div>
                              </div>


                            </label>
                          </div> -->
          <div class="col-12">
            <button (click)="resetPwd()" class="btn btn-primary sub_btn">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="!showPwdReset">
    <div *ngIf="!errorRes">
      <div class="text-center mb-3">
        <img ImageSrc src="../../../assets/icons/reset-success-icon.svg" width="40px" alt="" />
      </div>
      <h5 class="text-center">Your password has been reset successfully</h5>
      <button (click)="login()" class="btn btn-primary sub_btn mt-4">Login</button>
    </div>
    <div *ngIf="errorRes">
      <div class="text-center mb-3">
        <img ImageSrc src="../../../assets/icons/error-message-icn.svg" width="40px" alt="" />
      </div>
      <h5 class="errorMsg text-center">
        {{ errorRes }}
      </h5>
      <div class="text-center">
        <button (click)="close()" class="btn btn-primary ok_btn mt-4">ok</button>
      </div>
    </div>
  </div>
</div>
