.class-selection {
  padding: 20px 5px 10px 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.title {
  color: var(--text_color_new);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.options {
  margin: 36px 0;
}

.form-check {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding: 0;
}

.form-check-input {
  margin: 0;
  margin-right: 15px;
}

.form-check-label {
  cursor: pointer;
  line-height: 1;
  margin-left: 45px;
  color: #101828;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.form-check-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  border: 1.5px solid var(--primary_btn_bg);
  border-radius: 50%;
  background: white;
}

.form-check-input:checked + .form-check-label:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--primary_btn_bg);
}

@media screen {
  .form-check-input:checked + .form-check-label:after {
    left: calc(0px + (26px - 14px) / 2);
  }
}

.apply-btn {
  width: 100%;
  padding: 8px;
}

input[type="radio"] {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
