@import "./../../theme/theme-variables.scss";

.landing_page {
  .navbar-brand {
    img {
      display: none !important;
    }
  }
  .travelAdvice {
    font-size: 14px;
    color: $color-neutral-900;
    padding: 10px 20px;
    background-color: #fff7eb;
    border-radius: 4px;
    margin-top: 20px;
    a {
      color: $color-link-blue;
    }
    img {
      padding: 5px;
    }
  }
  .landing_page_bg {
    background-color: #fff;
    .site_logo {
      img {
        width: 168px;
        margin-top: 0.25em;
      }
    }
    .site_title {
      color: var(--text_primary_color);
      font-size: 32px;
      letter-spacing: 0.32px;
      h1 {
        font-weight: 600;
      }
      .hello {
        color: var(--text_link_color);
        line-height: 2;
      }
      .travel_shop {
        color: $color-neutral-900;
      }
    }
  }

  .popular_routes_section {
    background-color: $white;
    padding: 26px 0;
  }

  .hm_content {
    bottom: 3em;
    .about-homepage--link {
      color: #1db2f5;
    }
  }

  .additionals-sec {
    padding: 20px 20px 20px 20px;
    .signMeBtn {
      width: 100%;
      height: 33.5px;
      border: none;
      border-radius: 5px !important;
      color: $white;
      font-size: 13px !important;
      background-color: $color-link-blue !important ;
    }
    .box_1 {
      border: 1px solid $light-border-color;
      position: relative;
      &:first-child {
        right: 5px;
      }
      &:last-child {
        left: 5px;
      }
      .noSpam {
        margin-left: 0px;
        em {
          font-size: 10px;
          color: var(--payment_card_strip);
        }
      }
      .account {
        padding: 30px 10px 20px 60px;
      }
      .sign_up {
        padding: 30px 10px 20px 30px;
      }
      .right {
        .desc {
          color: $text-primary-color;
          .heading_Font {
            font-size: 14px;
            font-weight: 600;
          }
          label {
            font-size: 14px;
          }
          em {
            font-size: 11px;
          }
        }
        input {
          height: 39.5px;
          border-radius: 0;
          font-size: 12px !important;
          padding: 8px;
        }
      }
      .btn:first-child {
        width: 141.6px;
        height: 38.5px;
        background-color: $color-link-blue;
        border-radius: 5px;
        border: none;
        color: #ffffff !important;
        font-size: 13px !important;
      }
      .btn:last-child {
        width: 141.6px;
        height: 37.5px;
        border: solid 1px $color-link-blue;
        color: $color-link-blue;
        border-radius: 5px;
        font-size: 13px !important;
      }
    }
  }

  .featured {
    color: var(--text_primary_color);
    label {
      font-size: 13px;
      font-weight: 600;
    }
    p {
      font-size: 12px;
      font-weight: normal;
    }
  }
}
.successMsg {
  font-size: 13px;
  padding: 4px;
  background-color: $color-teal-50;
  color: $color-teal-400;
}
.input-group {
  .form-control {
    font-size: 13px;
    border-radius: 0px !important;
  }
  h6 {
    font-size: 11px;
    color: $color-neutral-900;
  }
}

.input-group-name {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 252px;
}
.findBookingsmdl_dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 50% !important;
  background-color: #ffffff;
  border-radius: 6px;

  .mdl_heading {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  .mdl_body {
    padding: 40px;
    .close_dialog {
      position: relative;
      top: -30px;
      left: 6%;
      cursor: pointer;
    }
  }
}
.resetPassword_dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999999;
  transform: translate(-50%, -50%) !important;
  background-color: #ffffff;
  border-radius: 6px;
  .dialog_content {
    width: 400px;
  }
  .mdl_heading {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  .mdl_body {
    padding: 40px;
    .close_dialog {
      position: relative;
      top: -30px;
      left: 6%;
      cursor: pointer;
    }
  }
}
.cookiesBanner {
  position: fixed;
  text-align: center;
  z-index: 999;
  right: 0;
  bottom: 0;
  margin: 1rem;
  padding: 1rem;
  background: #f5f5f5;
  max-width: 20rem;
  box-shadow: 0 2px 2px 0 rgb(5 35 49 / 12%), 0 0 2px 0 rgb(5 35 49 / 14%);
  .cookieContent {
    font-size: 13px;
    font-weight: normal;
    color: var(--text_primary_color);
  }
  a {
    color: var(--text_link_color);
    text-decoration: underline;
    font-size: 13px;
    font-weight: normal;
  }
  .noBtn {
    border-radius: 2px;
    border: 1px solid var(--border_active_color);
    font-size: 14px;
    color: var(--text_link_color);
    background-color: $white;
    padding: 2px 25px;
  }
  .yesBtn {
    border-radius: 2px;
    border: none;
    font-size: 14px;
    color: $white;
    background-color: var(--primary_btn_bg);
    padding: 3px 25px;
  }
}

.ts_upgrade_benefits {
  background-image: url("https://cdn1.travelstart.com/assets/images/ts-plus-images/ts_plus_hme.svg");
  background-repeat: no-repeat;
  height: 120px;
  background-size: cover;
  border-radius: 12px;
  cursor: pointer;
  .ts_upgrade_bg {
    padding: 20px;
    .upgrade_content {
      color: $white;
      margin: 0px auto;
      h6 {
        font-size: 18px;
        font-weight: 600;
      }
      .benefit_options {
        font-size: 14px;
        line-height: 11px;
        p::before {
          content: "\2022";
          color: $color-link-blue;
          font-size: 1.2em;
          margin-right: 5px;
          position: absolute;
        }
      }
    }
    button {
      padding: 8px 12px;
      font-size: 14px;
      border: none;
      margin-top: 23px;
    }
  }
}
@media (min-width: map-get($grid-breakpoints, md)) {
  .landing_page_bg {
    padding: 20px 0px 10px;
    .site_title {
      h1 {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 20px;
      }
    }
  }
  .travelAdvice {
    margin-top: 5px !important;
  }

  .findBookingsmdl_dialog {
    width: calc(100% - 20px) !important;
  }
  .nameEmail {
    margin-top: 20px !important;
    .form-control {
      font-size: 11px !important;
      border-radius: 0px !important;
      height: 33.5px !important;
    }
    em {
      span {
        font-size: 11px !important;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .findBookingsmdl_dialog {
    width: calc(100% - 20px) !important;
  }
  .padl-xs-0 {
    padding-left: 0px !important;
  }
  .pl-xs-15 {
    padding-left: 15px !important;
  }
  .pr-xs-15 {
    padding-right: 15px !important;
  }
  .travelAdvice {
    margin-top: 5px !important;
  }
  .mt-xs-10 {
    margin-top: 10px !important;
  }
  .nameEmail {
    .form-control {
      font-size: 11px !important;
      border-radius: 0px !important;
      height: 33.5px !important;
    }
    em {
      span {
        font-size: 11px !important;
      }
    }
  }
  .text-align-xs {
    text-align: center !important;
  }
  .landing_page_bg {
    padding: 10px 0;
    background-color: var(--primary_Body_bg) !important;
    .site_title {
      h1 {
        font-size: 16px !important;
        font-weight: 500 !important;
        margin-bottom: 0;
      }
    }
  }
  .popular_routes_section {
    padding: 10px 0px !important;
  }
  .additionals-sec {
    .signMeBtn {
      width: 100% !important;
    }
    padding: 15px !important;
    .box_1 {
      padding: 12px !important;
      right: 0 !important;
      left: 0 !important;
      &:first-child {
        margin-bottom: 12px;
        .btn:first-child {
          margin-left: 16px;
        }
      }
      &:last-child {
        left: 5px;
      }
      .account {
        padding: 10px 10px 20px 20px !important;
      }
      .btn:last-child {
        width: 140px !important;
        height: 32px !important;
        margin-top: 15px !important;
      }
      .accnt_img {
        height: 100% !important;
      }
      .accnt_img_mweb {
        position: absolute;
        bottom: 0px !important;
      }
      .manage_bookings {
        line-height: 16px !important;
        font-size: 12px !important;
      }
      .exclusive_deals {
        line-height: 16px !important;
        font-size: 12px !important;
      }
      .desc {
        label {
          font-size: 12px !important;
        }
      }
      .input-group {
        padding: 16px;
        .form-control {
          margin: 0 !important;
        }
        .name_field {
          width: 100%;
          margin-bottom: 0.5em;
        }
        .email_field {
          width: 69.8%;
        }
      }
    }
  }

  .cookiesBanner {
    position: fixed;
    text-align: center;
    z-index: 999;
    right: 0;
    bottom: 0;
    margin: 1rem;
    padding: 1rem;
    background: #f5f5f5;
    max-width: 20rem;
    box-shadow: 0 2px 2px 0 rgb(5 35 49 / 12%), 0 0 2px 0 rgb(5 35 49 / 14%);
    .cookieContent {
      font-size: 13px;
      font-weight: normal;
      color: var(--text_primary_color);
    }
    a {
      color: var(--text_link_color);
      text-decoration: underline;
      font-size: 13px;
      font-weight: normal;
    }
    .noBtn {
      border-radius: 2px;
      border: 1px solid var(--border_active_color);
      font-size: 14px;
      color: var(--text_link_color);
      background-color: $white;
      padding: 2px 25px;
    }
    .yesBtn {
      border-radius: 2px;
      border: none;
      font-size: 14px;
      color: $white;
      background-color: var(--primary_btn_bg);
      padding: 3px 25px;
    }
  }
}
@media only screen and (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md)) {
  //Put your CSS here for 567px to 767px width devices (cover all width between 567px to 767px //
  .box_1 img {
    width: 70px !important;
  }
}
@media (max-width: map-get($grid-breakpoints, lg)) {
  .ts_upgrade_benefits {
    height: 150px !important;
    .ts_upgrade_bg {
      padding: 10px !important;
      .ts_img {
        text-align: center !important;
        img {
          height: 55px !important;
        }
      }
      .upgrade_benefits {
        display: none !important;
      }
      .upgrade_btn {
        text-align: center;
        button {
          padding: 5px 12px !important;
          font-size: 12px !important;
          margin-top: 10px !important;
        }
      }
    }
  }
}
