<div *ngIf="region !== 'MM' && region !== 'SB'">
  <app-header #header></app-header>
</div>

<div *ngIf="iframeWidgetService.isWhiteLabelSite() && region !== 'MM' && region !== 'SB'">
  <app-white-label></app-white-label>
</div>

<div *ngIf="region === 'MM'">
  <app-web-view></app-web-view>
</div>

<div *ngIf="region === 'SB'">
  <app-sb-view-notification [notificationTitle]="'Cancellations'" [notificationMessage]="'Any discounts that are applied will be forfeited in the event that a booking is cancelled.'"></app-sb-view-notification>
</div>

<div
  *ngIf="!iframeWidgetService.isWhiteLabelSite() && region !== 'MM' && region !== 'SB'"
  class="landing_page" id="landingPage"
  [style.height]="navService.isNavOpen() ? '0px' : '100%'"
>
  <div class="landing_page_bg">
    <div class="container">
      <div *ngIf="region !== 'ABSA'" class="site_title">
        <h1 *ngIf="!userName">
          <div class="hello"><span translate>Hello</span> <span translate>there</span></div>
          <span translate>Book cheap flights with your one-stop travel shop!</span>
        </h1>
        <h1 *ngIf="userName">
          <div class="hello"><span translate>Hello</span> {{ userName }},</div>
          <span translate>Book cheap flights with your one-stop travel shop!</span>
        </h1>
      </div>
      <app-search></app-search>

      <app-recent-searches></app-recent-searches>

      <app-view-your-bookings *ngIf="this.region === 'ABSA'"></app-view-your-bookings>
      <div *ngIf="region == 'ABSA'">
        <ng-container  *ngTemplateOutlet="cookie_consent_display;">
        </ng-container>
      </div>
      <app-book-with-travelstart
        *ngIf="!iframeWidgetService.isShowComponent() || apiService.extractCountryFromDomain() == 'FS'"
      ></app-book-with-travelstart>
      <div *ngIf="iframeWidgetService.isFrameWidget()" class="ai_Travel_AgentSec">
        <app-ai-travel-agent></app-ai-travel-agent>
      </div>
    </div>
  </div>

  <div *ngIf="apiService?.extractCountryFromDomain() === 'ZA' && apiService?.isTS_PLUSUser()">
    <app-home-benefits-tiles></app-home-benefits-tiles>
  </div>

  <div class="hm_content" *ngIf="region !== 'ABSA' && region !== 'SB' && iframeWidgetService.isShowComponent()">
    <div
      *ngIf="apiService.extractCountryFromDomain() !== 'FS'"
      class="container whats_new_section"
      [style.min-height]="
        apiService.extractCountryFromDomain() !== 'KE' && apiService.extractCountryFromDomain() !== 'GO' ? '270px' : ''
      "
    >
      <div class="ts_plus_hme" *ngIf="apiService?.extractCountryFromDomain() === 'ZA' && !apiService?.isTS_PLUSUser()">
        <div class="mt-3" *ngIf="responsiveService.screenWidth !== 'sm' && responsiveService.screenWidth !== 'md'">
          <a rel="noopener" target="_blank" (click)="upgradeTsPlus()">
            <img ImageSrc src="../../../assets/images/ts-plus-images/upgradeTSBanner.png" alt="conditions" />
          </a>
        </div>
        <div class="mt-3" *ngIf="responsiveService.screenWidth === 'sm' || responsiveService.screenWidth === 'md'">
          <a rel="noopener" target="_blank" (click)="upgradeTsPlus()">
            <img ImageSrc src="../../../assets/images/ts-plus-images/upgradeTSMwebBanner.png" alt="conditions" />
          </a>
        </div>
      </div>
      <app-home-page-banners></app-home-page-banners>

      <div class="container p-0">
        <div class="additionals-sec">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 box_1">
              <div class="row">
                <div class="col-4 col-lg-5 col-xl-4 left p-0">
                  <img
                    *ngIf="responsiveService.screenWidth == 'lg'"
                    ImageSrc
                    src="../../assets/images/ts-plus-images/TS_HP_account.png"
                    class="accnt_img"
                    alt="icon"
                    loading="lazy"
                  />

                  <img
                    *ngIf="responsiveService.screenWidth == 'sm' || responsiveService.screenWidth == 'md'"
                    ImageSrc
                    src="../../assets/images/TS_HP_account.png"
                    class="accnt_img_mweb"
                    width="140px"
                    alt="mweb"
                  />
                </div>
                <div class="col-8 col-lg-7 col-xl-8 right account">
                  <div *ngIf="!credentialsService.isAuthenticated()" class="desc">
                    <h2 class="heading_Font">New around here? Fix that</h2>
                    <label class="manage_bookings">
                      <span translate>Create an account and get instant access to</span>
                      <div>your bookings, <span>trip history and more.</span></div>
                      <div class="pt-md-3">
                        <span *ngIf="!credentialsService.isAuthenticated()">
                          <button
                            type="button"
                            aria-label="Create Account"
                            class="btn text-white btn-primary"
                            data-toggle="modal"
                            data-target="#loginModal"
                          >
                            <span translate>Create account</span>
                          </button>
                        </span>
                      </div>
                    </label>
                  </div>
                  <div *ngIf="credentialsService.isAuthenticated()" class="desc">
                    <h2 class="heading_Font" translate>View your bookings</h2>
                    <label>
                      <span translate> View your profile,</span>
                      <span translate>booking status and trip details.</span>
                      <span translate>Track refunds and cancellations.</span>
                    </label>
                    <div class="pt-md-3">
                      <button type="button" class="btn" aria-label="Manage Bookings" (click)="viewFindBookings()">
                        <span translate>Manage Bookings</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 mt-md-2 mt-lg-0 box_1">
              <div class="row">
                <div class="col-4 left p-0">
                  <img
                    *ngIf="responsiveService.screenWidth == 'lg'"
                    ImageSrc
                    src="../../assets/images/ts-plus-images/TS_HP_Signup.png"
                    class="sign_up_img"
                    alt="img"
                    loading="lazy"
                  />
                  <img
                    *ngIf="responsiveService.screenWidth == 'sm' || responsiveService.screenWidth == 'md'"
                    src="../../assets/images/TS_HP_Signup.png"
                    ImageSrc
                    class="accnt_img_mweb"
                    alt="img"
                    width="150"
                    loading="lazy"
                  />
                </div>
                <div class="col-8 right">
                  <div class="desc sign_up">
                    <h2 class="heading_Font" translate>Don't get left behind. Sign up now</h2>
                    <label class="exclusive_deals">
                      <span translate>Get our exclusive deals and travel updates</span>
                      <span translate>No FOMO here</span>
                    </label>

                    <div class="row">
                      <div class="col-12 col-lg-6">
                        <div class="name_field mb-2">
                          <input
                            type="text"
                            aria-label="name"
                            class="form-control"
                            name="name"
                            autocomplete="off"
                            placeholder="{{ 'Enter first name' | translate }}"
                            [formControl]="name"
                          />
                        </div>
                      </div>

                      <div class="col-12 col-lg-6">
                        <div class="email_field">
                          <input
                            #subscribeEmail
                            type="email"
                            aria-label="email"
                            class="form-control"
                            name="email"
                            autocomplete="off"
                            placeholder="{{ 'Enter your email' | translate }}"
                            [formControl]="email"
                          />
                          <div *ngIf="submitEmail && email.errors">
                            <div translate class="validation_msg" *ngIf="submitEmail && !email.value">
                              Enter your email
                            </div>
                            <div translate class="validation_msg" *ngIf="submitEmail && email.errors.pattern">
                              Please enter a valid e-mail
                            </div>
                          </div>

                          <em
                            ><span translate>No spam, <span translate>promise</span></span></em
                          >
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12 col-lg-6">
                        <button class="signMeBtn" aria-label="Sign Me Up" (click)="subscribe()" type="submit">
                          <span translate>Sign me up</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div translate *ngIf="validEmail" class="successMsg ml-3">
                    Thank you for subscribing to our newsletter
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="app_sec" *ngIf="apiService?.extractCountryFromDomain() !== 'FS'">
      <app-travel-app></app-travel-app>
    </div>
    <app-what-does-travelstart
      *ngIf="
        responsiveService.screenWidth !== 'md' &&
        responsiveService.screenWidth !== 'sm' &&
        apiService?.extractCountryFromDomain() !== 'FS'
      "
    ></app-what-does-travelstart>

    <app-footer></app-footer>
    <div *ngIf="region !== 'SB'">
    <ng-container *ngTemplateOutlet="cookie_consent_display;"></ng-container>
    </div>
  </div>
</div>

<dialog id="resetPassword_Modal">
  <div class="modal-dialog resetPassword_dialog">
    <div class="modal-content dialog_content">
      <div class="modal-body mdl_body">
        <div class="float-right close_dialog">
          <img
            ImageSrc
            src="../../assets/icons/close-new-icn.svg"
            alt="close-new-icn"
            width="12px"
            aria-label="Close"
            (click)="closePwdmodel(false)"
          />
        </div>
        <app-reset-password (closePwdModal)="closePwdmodel($event)"></app-reset-password>
      </div>
    </div>
  </div>
</dialog>

<div class="force_redirection" *ngIf="enableForceRedirection">
  <app-force-redirection
    (closeRedirectPopup)="closeRedirectOverlayPopup()"
    (forceRedirect)="enableForceRedirect()"
  ></app-force-redirection>
</div>

<ng-template #cookie_consent_display>
  <div *ngIf="showCookieBanner" class="cookiesBanner" style="right: 1rem; bottom: 0rem">
    <div class="cookieContent">
      <span translate
        >Our site uses cookies that are essential, while others help us to improve your experience.</span
      >
      <span translate>By continuing, you agree to our use of cookies.</span>
    </div>
    <a *ngIf="region !== 'ABSA'" rel="noopener" target="_blank" href="{{ 'cookie_policy_link' | translate }}"
      ><span translate>Read our Cookie and Privacy Policy</span></a
    >
    <div class="mt-2">
      <span>
        <button type="button" aria-label="No" (click)="cookieConfirmation('No')" class="noBtn">
          <span translate>No</span>
        </button>
      </span>
      <span>
        <button type="button" aria-label="Yes" (click)="cookieConfirmation('Yes')" class="yesBtn">
          <span translate>Yes</span>
        </button>
      </span>
    </div>
  </div>
</ng-template>
